/* Indicator Component Styles */
/* Extracted from common-ui.css */

/* Í∑∏Î£π Î∞∞ÎÑà ?òÌçº */
.group-banner-wrap.-dmp {padding: 0;}

.group-banner-wrap.-dmp .dmp-swiper {position: relative;display: flex;flex-direction: column;height: auto;padding: 0 2.0rem;}

.group-banner-wrap.-dmp .dmp-swiper .swiper-wrapper li .wrap,
.group-banner-wrap.-dmp .dmp-swiper .swiper-wrapper li .adBanner {display: block;width: 100%;height: 16rem;border-radius: 1rem;overflow: hidden;}

.group-banner-wrap.-dmp .dmp-swiper .swiper-wrapper li .adBanner img {width: auto;height: 16rem;object-fit: cover;}

.group-banner-wrap.-dmp .dmp-swiper .banner-content {position: relative;}

.group-banner-wrap.-dmp .dmp-swiper .banner-content img {position: absolute;width: auto;height: 16rem;object-fit: cover;}

.group-banner-wrap.-dmp .dmp-swiper .banner-content img:nth-child(1) {top: 0;left: 0;object-position: left top;z-index: 2;}

.group-banner-wrap.-dmp .dmp-swiper .banner-content img:nth-child(2) {top: 0;right: 0;object-position: right top;z-index: 1;}

.group-banner-wrap.-dmp .dmp-swiper .pagination-wrap.-center {display: flex;justify-content: center;align-items: center;width: 100%;margin-top: 1.4rem;}

.group-banner-wrap.-dmp .dmp-swiper .swiper-pagination {display: flex;position: static;width: auto;}

.group-banner-wrap.-dmp .dmp-swiper .swiper-pagination-bullet {width: .8rem;height: .8rem;margin: var(--spacing-2) var(--spacing-4) !important;background-color: var(--color-bg-indicator-dot-default);border-radius: var(--border-radius-circle);cursor: pointer;}

.group-banner-wrap.-dmp .dmp-swiper .swiper-pagination-bullet-active {width: 1.6rem; height: .8rem;background-color: var(--color-bg-indicator-dot-active);}

.group-banner-wrap.-dmp .dmp-swiper .button-stop {position: relative;width: 1.6rem;height: 2rem; margin-left: .6rem; border: none; background: none; cursor: pointer;}

.group-banner-wrap.-dmp .dmp-swiper .button-stop:before {content: "";position: absolute;left: 50%;top: 50%;width: 1.6rem;height: 1.6rem;background: url(../src/imgs/nds/common/ico_indicator-stop_gray600_fill_12.png) no-repeat center / 1.6rem; transform: translate(-50%, -50%);}

.dark-mode .group-banner-wrap.-dmp .dmp-swiper .button-stop:before {content: "";position: absolute;left: 50%;top: 50%;width: 1.6rem;height: 1.6rem;background: url(../src/imgs/nds/common/ico_indicator-stop_gray600_fill_12_dk.png) no-repeat center / 1.6rem; transform: translate(-50%, -50%);}

.group-banner-wrap.-dmp .dmp-swiper .button-stop.-active:before {background-image: url(../src/imgs/nds/common/ico_indicator-play_gray600_fill_12.png);}

.dark-mode .group-banner-wrap.-dmp .dmp-swiper .button-stop.-active:before {background-image: url(../src/imgs/nds/common/ico_indicator-play_gray600_fill_12_dk.png);}

.group-banner-wrap.-dmp .dmp-swiper .swiper-wrapper.-disabled {transform: translate3d(0px, 0, 0) !important;}

.group-banner-wrap.-dmp .dmp-swiper .pagination-wrap.-disabled {display: none !important;}

/* ¡÷ºÆ ºˆ¡§µ  */
.swiper-number .pagination-wrap {display: flex;align-items: center;position: absolute;bottom: 4rem;z-index: 20;width: auto;height: 2rem;padding: 0 0.3rem 0 1rem;border-radius: 1rem;}

.swiper-number .pagination-wrap .swiper-pagination-fraction {display: flex;flex-direction: row;align-items: center;width: auto;margin-right: 0;color: transparent;font-size: 1.2rem; left: -2.4rem;}

.swiper-number .pagination-wrap .line {display: inline-block;width: 1px;height: 0.6rem;margin: 0 0.5rem;background-color: #fff;}

.swiper-number .pagination-wrap .swiper-pagination-total {opacity: 0.6rem;}

.swiper-number .pagination-wrap .control-button {position: relative;width: 2rem;height: 2rem;}

.swiper-number .pagination-wrap .control-button::before {content: "";position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 1.6rem;height: 1.6rem;background: url(../src/imgs/nds/common/ico_indicator-play_fill_8.png) no-repeat center / 1.6rem;}

.swiper-number .pagination-wrap .control-button.-pause::before {background-image: url(../src/imgs/nds/common/ico_indicator-stop_fill_8.png);}

.swiper-number .swiper-wrapper.-disabled {transform: translate3d(0, 0, 0) !important}

.swiper-number .pagination-wrap.-disabled {display: none !important;}

.swiper-number .banner-swiper {align-items: flex-start;height: 15.9rem;padding: 2rem;}

.swiper-number .banner-swiper .wrap {height: 15.9rem; width: 100%;}

.swiper-number .swiper-slide {overflow: hidden;}

.swiper-number .banner-swiper {display: flex;align-items: center;overflow: hidden;position: relative;height: 11.5rem;padding: 1.2rem 1.5rem;border-radius: 1.2rem;}

.swiper-number .banner-swiper::before {content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: -5;background-color: var(--colorpick);}

/* ¡÷ºÆ ºˆ¡§µ  */
.pagination-wrap.indicator .swiper-pagination {background-color: var(--color-bg-indicator-number-default); padding: 0 2.2rem; border-radius: 10rem; position: absolute; height: 2rem;}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-current {color: var(--color-text-indicator-default);font-size: 1.2rem;padding-right: .5rem;letter-spacing: 0;font-weight: 400;text-indent: 0;position: relative;padding-right: .6rem;}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-current::after {display: flex;content: '';width: .1rem;height: .6rem;position: absolute;right: 0;top: 50%;transform: translateY(-50%); margin-left: var(--spacing-4); background: var(--color-border-line-2);}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-total {font-size: 1.2rem;padding-left: var(--spacing-4);letter-spacing: 0;font-weight: 400;text-indent: 0;color: var(--color-text-indicator-default); opacity: .6; min-width: 1.1rem;}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-total::after {content: ''; background: url(../src/imgs/nds/common/arr_right_gray50_line_16.png) no-repeat; background-size: 1.6rem; display: inline-block; width: 1.6rem; top: 50%; transform: translateY(-50%); position: absolute; right: -2.4rem;}

.dark-mode .pagination-wrap.indicator .swiper-pagination .swiper-pagination-total::after {content: ''; background: url(../src/imgs/nds/common/arr_right_gray50_line_16_dk.png) no-repeat; background-size: 1.6rem; display: inline-block; width: 1.6rem; top: 50%; transform: translateY(-50%); position: absolute; right: -2.4rem;}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-current::before {content: ''; width: 1.6rem; height: 1.6rem; padding-right: .8rem; display: inline-block; background: url(../src/imgs/nds/common/arr_left_gray50_line_16.png) no-repeat; background-size: 1.6rem; position: absolute; left: -2.4rem; top: 50%; transform: translateY(-50%);}

.dark-mode .pagination-wrap.indicator .swiper-pagination .swiper-pagination-current::before {content: ''; width: 1.6rem; height: 1.6rem; padding-right: .8rem; display: inline-block; background: url(../src/imgs/nds/common/arr_left_gray50_line_16_dk.png) no-repeat; background-size: 1.6rem; position: absolute; left: -2.4rem; top: 50%; transform: translateY(-50%);}

.pagination-wrap.indicator .swiper-pagination .swiper-pagination-total::after {content: ''; width: 1.6rem; height: 1.6rem; padding-left: .8rem; display: inline-block;}

/* ¡÷ºÆ ºˆ¡§µ  */
.swiper{padding-bottom:42px}

.swiper-pagination-bullet{background-color:var(--G07);opacity: 1; }

.swiper-pagination-bullet-active{background-color:var(--P15) ;}

.swiper-wrapper.-disabled + .pagination-wrap {display: none !important;}

/* ¡÷ºÆ ºˆ¡§µ  */
.swiper-container {position: relative;}

.swiper-initialized {overflow: hidden;}

.swiper-horizontal {touch-action: pan-y;}

.swiper-pointer-events {touch-action: pan-y;}

.swiper-backface-hidden {transform: translate3d(0, 0, 0);}

/* ¡÷ºÆ ºˆ¡§µ  */
.swiper-pagination {position: relative; text-align: center; transition: 300ms opacity; transform: translate3d(0, 0, 0); z-index: 10;}

.swiper-pagination-clickable {cursor: pointer;}

.swiper-pagination-bullets {position: static;}

.swiper-pagination-horizontal {width: auto;}

.swiper-pagination-fraction {color: var(--color-text-indicator-default);}

/* ¡÷ºÆ ºˆ¡§µ  */
.hide {overflow:hidden !important; position:absolute !important; width:1px !important; height:1px !important; margin:0 !important; padding:0 !important; border:0 !important; white-space:nowrap !important; clip:rect(1px, 1px, 1px, 1px) !important; clip-path:inset(50%) !important;} 
