@charset "utf-8";

/* Utility Classes for NDS Design System */

/* TYPOGRAPHY */

/* 제목 */
.h1 {
    margin-bottom:0.9rem; 
    padding:0; 
    color:var(--color-text-font-1); 
    font-weight: 600; 
    font-size:2.6rem; 
    line-height: 3.8rem; 
    word-break:keep-all; 
    overflow-wrap: break-word; 
    letter-spacing: -0.052rem;
}

.h1:first-child {margin-top:0;}
.h1:last-child {margin-bottom:0;}
.hr + .h1 {margin-top:0;}

.h2 {
    margin-bottom:1.2rem; 
    padding:0; 
    color:var(--color-text-font-1); 
    font-weight: 600; 
    font-size:2.2rem; 
    line-height: 3.2rem; 
    word-break:keep-all; 
    overflow-wrap: break-word; 
    letter-spacing: -0.044rem;
}

.h2:first-child {margin-top:0;}
.h2:last-child {margin-bottom:0;}
.hr + .h2 {margin-top:0;}
.h2 + .p {margin-top: var(--spacing-0);}

.h3 {
    margin:4rem 0 1.4rem; 
    padding:0; 
    color:var(--color-text-font-1); 
    font-weight: 600; 
    font-size:2rem; 
    line-height: 2.8rem; 
    word-break:keep-all; 
    overflow-wrap: break-word;
}

.h3:first-child {margin-top:0;}
.h3:last-child {margin-bottom:0;}
.hr + .h3 {margin-top:0;}

.h4 {
    margin: var(--spacing-32) var(--spacing-0) var(--spacing-16); 
    padding:0; 
    color:var(--color-text-font-1); 
    font-weight:600; 
    font-size:1.8rem; 
    line-height: 2.6rem; 
    word-break:keep-all; 
    overflow-wrap: break-word;
}

.h4:first-child {margin-top:0;}
.h4:last-child {margin-bottom:0;}
.h2-group + .h4 {margin-top:2.2rem;}
.h3 + .h4,
.h3-group + .h4 {margin-top:2.2rem;}
.hr + .h4 {margin-top:0;}
.messages + .h4 {margin-top:0;}

.h5 {
    margin: var(--spacing-32) var(--spacing-0) var(--spacing-16); 
    padding:0; 
    color:var(--color-text-font-1); 
    font-weight: 600; 
    font-size:1.6rem; 
    line-height: 2.4rem; 
    word-break:keep-all; 
    overflow-wrap: break-word;
}

.h5:first-child {margin-top:0;}
.h5:last-child {margin-bottom:0;}
.h4 + .h5,
.h4-group + .h5 {margin-top: var(--spacing-20);}
.hr + .h5 {margin-top:0;}
.messages + .h5 {margin-top:0;}

/* 본문 */
.sentence1 {
    color:var(--color-text-font-1); 
    font-size: 1.6rem; 
    font-weight: 500; 
    line-height: 2.4rem;
}

.sentence2 {
    color:var(--color-text-font-1); 
    font-size: 1.5rem; 
    font-weight: 500; 
    line-height: 2.4rem;
}

.sentence3 {
    color:var(--color-text-font-1); 
    font-size: 1.4rem; 
    font-weight: 500; 
    line-height: 2.2rem;
}

.sentence2 + .sentence2 {margin-top: var(--spacing-12);}

/* 문단 */
.p {
    margin:var(--spacing-16) var(--spacing-0); 
    padding: var(--spacing-0); 
    color:var(--color-text-font-3); 
    font-size: 1.5rem; 
    word-break:keep-all; 
    overflow-wrap: break-word;
}

.p:first-child {margin-top: var(--spacing-0);}
.p:last-child {margin-bottom: var(--spacing-0);}

/* 설명글 */
.description {
    margin:1.4rem var(--spacing-0); 
    padding: var(--spacing-0); 
    color:var(--color-text-font-4);
}

.description + .description {margin-top:0.9rem;}
.description:first-child {margin-top: var(--spacing-0);}
.description:last-child {margin-bottom: var(--spacing-0);}

/* 캡션 */
.caption {
    margin:1.4rem var(--spacing-0); 
    padding: var(--spacing-0); 
    color:var(--color-text-font-3); 
    font-size:1.5rem;
}

.caption + .caption {margin-top:0.9rem;}
.caption:first-child {margin-top: var(--spacing-0);}
.caption:last-child {margin-bottom: var(--spacing-0);}

.caption.-bullet {
    position:relative; 
    padding-left:calc(1.6rem + var(--indent));
}

.caption.-bullet:before {
    content:""; 
    position:absolute; 
    top:1rem; 
    left:1rem; 
    width:.3rem; 
    height:.3rem; 
    border-radius:50%; 
    background-color:var(--color-text-font-3);
}

.caption.-star {
    position:relative; 
    padding-left:calc(1.6rem + var(--indent));
}

.caption.-star:before {
    content:"*"; 
    position:absolute; 
    top:.3rem; 
    left:.8rem; 
    color:var(--color-text-font-3);
}

/* 구분선 */
.hr {
    height:0.8rem; 
    margin:4rem var(--out); 
    border:none; 
    background-color:var(--color-border-line-4);
}

.hr:first-child {margin-top:0;}
.hr:last-child {margin-bottom:0;}
.hr.-thin {height:.2rem;}
.hr.-lg,
.hr.-xl,
.hr.-xxl {margin:4rem var(--out);}
.hr.-in {margin-right:0; margin-left:0;}

/* BUTTONS */
.button {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    width:100%; 
    padding:.6rem 1.6rem; 
    border:1px solid var(--color-border-line-1); 
    border-radius:1.2rem; 
    background-color:transparent; 
    color:var(--color-text-button-tertiary-default); 
    font-size:1.5rem; 
    line-height:1.2; 
    text-align:center; 
    word-break:break-word; 
    user-select:none; 
    transition:color .3s;  
    transition:border-color .3s, background-color .3s; 
    font-weight: 600; 
    min-height:4.2rem;
}

.button:active {
    border-color:var(--border-button-active); 
    color:var(--color-button-active); 
    background-color:var(--bg-button-active); 
    transition:none;
}

.button[disabled],
.button.-disabled {
    border-color:var(--border-button-disabled); 
    color:var(--color-button-disabled); 
    cursor:default;
}

.button.-primary {
    background-color:var(--color-bg-button-primary-default); 
    color:var(--color-text-button-primary-default); 
    transition:border-color .3s, background-color .3s; 
    font-weight: 500; 
    border: none;
}

.button.-primary:active {
    border-color:var(--border-button-primary-active); 
    background-color: var(--color-bg-button-primary-pressed); 
    transition:none;
}

.button.-primary[disabled],
.button.-primary.-disabled {
    border-color:var(--color-bg-button-primary-disabled); 
    background-color: var(--color-bg-disabled); 
    color:var(--color-text-font-5);
}

.button.-secondary {
    border: 1px solid var(--color-border-point); 
    background-color:transparent; 
    color:var(--color-text-point); 
    transition:border-color .3s, color .3s; 
    font-weight: 600;
}

.button.-secondary:active {
    color: var(--color-text-button-secondary-pressed); 
    background-color: var(--color-bg-button-secondary-pressed); 
    transition:none; 
    border: .1rem solid var(--color-border-button-secondary-pressed);
}

.button.-secondary[disabled],
.button.-secondary.-disabled {
    border-color:var(--color-border-line-2); 
    color:var(--color-text-font-5); 
    background-color: transparent;
}

.button.-tertiary {
    border: 1px solid var(--color-border-button-tertiary-default); 
    background-color: var(--color-bg-button-tertiary-default); 
    color:var(--color-text-button-tertiary-default); 
    transition:border-color .3s, color .3s; 
    font-weight: 500; 
    line-height: 1rem;
}

.button.-tertiary:active {
    border-color:var(--color-border-button-tertiary-pressed); 
    color:var(--color-text-button-tertiary-pressed); 
    background-color: var(--color-bg-button-tertiary-pressed); 
    transition:none;
}

.button.-tertiary[disabled],
.button.-tertiary.-disabled {
    border-color:var(--color-border-line-2); 
    color:var(--color-text-font-5); 
    background-color: transparent;
}

/* Button sizes */
.button.-xs {
    min-height: 3rem; 
    padding: .5rem var(--spacing-12); 
    border-radius:.8rem; 
    font-size:1.3rem; 
    font-weight: 400 !important; 
    min-width: 4.7rem;
}

.button.-sm {
    min-height: 3.6rem; 
    padding: .7rem var(--spacing-12); 
    border-radius: var(--border-radius-8); 
    font-size:1.4rem; 
    font-weight: 500 !important;
    min-width: 4.8rem;
}

.button.-rg {
    min-height: 4.2rem; 
    padding: .9rem var(--spacing-16); 
    border-radius:var(--border-radius-12); 
    font-size:1.5rem; 
    font-weight: 500 !important; 
    min-width: 7.1rem;
}

.button.-md {
    min-height: 4.8rem; 
    padding: 1.2rem var(--spacing-16); 
    border-radius:var(--border-radius-12); 
    font-size:1.6rem; 
    font-weight: 500 !important; 
    min-width: 7.3rem;
}

.button.-lg {
    min-height: 5.6rem; 
    padding: 1.5rem var(--spacing-16); 
    border-radius:1.4rem; 
    font-size:1.8rem; 
    font-weight: 500; 
    line-height: 2rem; 
    min-width: 7.8rem;
}

.button.-xs.-round {border-radius: 1.2rem;}
.button.-fitted {width: auto !important;}

/* Button groups */
.buttons {
    display:flex; 
    flex-wrap:wrap; 
    margin:0 -.5rem -0.6rem;
}

.buttons > .button {
    flex-basis:calc(50% - 1rem); 
    margin:0 .5rem .6rem; 
    padding:.6rem var(--spacing-4);
}

.buttons > .button:first-child:last-child {flex-basis:calc(100% - 1rem);}
.buttons > .button.-expand {flex-basis:calc(100% - 1rem);}
.buttons.-custom {flex-wrap: nowrap;}
.buttons.-custom > .button {flex-basis:auto;}
.buttons.-left {justify-content:flex-start;}
.buttons.-center {justify-content:center;}
.buttons.-right {justify-content:flex-end;}
.buttons.-fitted > .button {flex:0 0 auto !important;}

/* FORMS */
.text {
    position:relative;
}

.text input {
    display:block; 
    width:100%; 
    height:5.4rem; 
    padding: 1.4rem var(--spacing-20); 
    border:1px solid var(--color-border-input-default); 
    border-radius: var(--border-radius-12); 
    background-color:transparent; 
    color:var(--color-text-font-1); 
    font-weight:500; 
    font-size:1.8rem; 
    text-align:left; 
    transition:border .3s;
}

.text input:focus {
    border-color:var(--color-border-input-focus);
}

.text input[readonly] { 
    background-color: var(--color-bg-input-readonly);
}

.text input[readonly]:focus {
    border-color:var(--color-border-line-2);
}

.text input[disabled] {
    opacity:1; 
    background-color: var(--color-bg-input-disabled);
}

.text input::placeholder {
    color:var(--color-text-font-5); 
    font-weight:500; 
    font-size: 1.8rem; 
    text-align: left; 
    letter-spacing: -.1rem;
}

.text input[type="password"] {
    font-family: 'Pass'; 
    letter-spacing: .2rem;
}

.text input[type="password"]::placeholder {
    color:var(--color-text-font-5); 
    font-weight:500; 
    font-size: 1.8rem; 
    text-align: left; 
    letter-spacing: -.1rem; 
    font-family: 'Pretendard';
}

/* Textarea */
.textarea {
    position:relative;
}

.textarea textarea {
    display:block; 
    width:100%; 
    min-height:15.6rem; 
    padding:var(--spacing-16) var(--spacing-32) var(--spacing-20) var(--spacing-20); 
    border:1px solid var(--color-border-line-2); 
    border-radius: var(--border-radius-12); 
    background-color:transparent; 
    color:var(--color-text-font-1); 
    font-size:1.5rem; 
    resize:none; 
    transition:border .3s;
}

.textarea textarea:focus {
    border-color:var(--color-border-point);
}

.textarea textarea[readonly] {
    background-color: var(--color-bg-container);
}

.textarea textarea[readonly]:focus {
    border-color:var(--color-border-line-2);
}

.textarea textarea[disabled] {
    opacity:1; 
    background-color: var(--color-bg-container);
}

.textarea textarea::placeholder {
    color:var(--color-text-font-5); 
    font-weight:normal; 
    letter-spacing: -.1rem;
}

/* Select */
.select {
    overflow:hidden; 
    position:relative;
}

.select > button {
    display:block; 
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100%; 
    min-height:5.4rem; 
    padding:1.4rem 5.2rem 1.4rem var(--spacing-20); 
    border:1px solid var(--color-border-select-default); 
            background:transparent url(../imgs/nds/common/arr_down1_line_24.png) no-repeat right 1.6rem top 50% / 2.4rem; 
    font-weight:500; 
    font-size:1.8rem; 
    border-radius: var(--border-radius-12); 
    text-align:left; 
    transition:border .3s; 
    line-height: 1;
}

.select > button.fc-empty {
    color: var(--color-text-select-inactive);
}

/* LABELS */
.label {
    display:block; 
    margin-bottom: var(--spacing-12); 
    padding: var(--spacing-0); 
    color:var(--color-text-font-3); 
    font-size:1.4rem; 
    text-align:left; 
    transition:color .3s; 
    font-weight: 500;
}

p.label {color:var(--color-text-font-3);}
.label.-textless,
.label label.-textless {color:var(--color-text-font-3);}
.label.-error,
.label label.-error {color:var(--color-text-error);}
.label.-readonly,
.label label.-readonly {color:var(--color-text-font-3);}

.label-group {
    display:flex; 
    align-items:center; 
    margin-bottom:1rem; 
    justify-content: space-between; 
    align-items: center;
}

.label-group .label {margin-bottom:0;}
.label-group .goto-button {width:auto; margin:0}

/* TABLES */
.table {
    border-top:1px solid var(--color-border-line-2); 
    border-bottom:1px solid var(--color-border-line-2); 
    font-size: 1.4rem; 
    font-variant-numeric: tabular-nums;
}

.table.-sm {
    margin:1.1rem 0 .6rem; 
    border-top:1px solid var(--color-border-line-2); 
    border-bottom:1px solid var(--color-border-line-2); 
    font-size: 1.2rem;
}

.table:first-child {margin-top: var(--spacing-0);}
.table:last-child {margin-bottom: var(--spacing-0);}

.table table {
    table-layout:fixed; 
    border-collapse:collapse; 
    border-spacing:0; 
    empty-cells:show; 
    width:100%;
}

.table thead {
    text-align:center;
}

.table thead th {
    padding: .9rem var(--spacing-8); 
    border-bottom:1px solid var(--color-border-line-2); 
    background-color:var(--color-bg-table_header); 
    color:var(--color-text-font-1); 
    font-weight:500; 
    line-height:1.1;
    hyphens: none;
    -webkit-hyphens: none;
    word-break:break-all; 
    min-height: 4rem; 
    line-height: 2.2rem;
}

.table thead th + th {
    border-left:1px solid var(--color-border-line-2);
}

.table thead th[rowspan]:not(:last-child) {
    border-right:1px solid var(--color-border-line-2);
}

.table tbody {
    text-align:center;
}

.table tbody th {
    padding: .9rem var(--spacing-8); 
    background-color:var(--color-bg-table_header); 
    color:var(--color-text-font-1); 
    font-weight:500; 
    line-height:1.4;
    hyphens: none;
    -webkit-hyphens: none;
}

.table tbody td {
    padding: .9rem var(--spacing-8); 
    color:var(--color-text-font-3); 
    line-height:1.4;
    hyphens: none;
    -webkit-hyphens: none; 
    word-break: break-all;
}

.table tbody tr + tr th {
    border-top:1px solid var(--color-border-line-2);
}

.table tbody tr + tr td {
    border-top:1px solid var(--color-border-line-2);
}

.table tbody th + th {
    border-left:1px solid var(--color-border-line-2);
}

.table tbody th + td {
    border-left:1px solid var(--color-border-line-2);
}

.table tbody td + td {
    border-left:1px solid var(--color-border-line-2);
}

.table tbody th[rowspan] {
    border-right:1px solid var(--color-border-line-2);
}

.table tbody td[rowspan]:not(:last-child) {
    border-right:1px solid var(--color-border-line-2);
}

.table.-right tbody td {
    text-align: right;
}

.table + .table {margin-top: var(--spacing-16);}

/* LISTS */
.ul {
    margin:1.2rem 0; 
    padding:0; 
    font-style:normal; 
    font-weight:normal; 
    text-indent:0;
}

.ul:first-child {margin-top:0;}
.ul:last-child {margin-bottom:0;}
.ul + button {margin-top:2rem}

.ul > li {
    position:relative; 
    padding-left:1.2rem; 
    color:var(--color-text-font-3); 
    font-style:normal; 
    font-weight:normal; 
    word-break:keep-all; 
    overflow-wrap:break-word; 
    text-align:left; 
    font-size: 1.5rem;
}

.ul > li + li {margin-top: var(--spacing-12);}

.ul.-bullet > li:before {
    content:""; 
    position:absolute; 
    top:.7rem; 
    left:0; 
    width:.4rem; 
    height:.4rem; 
    border-radius:50%; 
    background-color:var(--color-icon-gray600);
}

.ul.-dash > li:before {
    content:""; 
    position:absolute; 
    top: 1rem; 
    left:0; 
    width:.4rem; 
    height:1px; 
    background-color:var(--color-icon-gray600);
}

.ul.-dash > li {
    padding-left: var(--spacing-8);
}

.ul.-star > li:before {
    content:"*"; 
    position:absolute; 
    top:.6rem; 
    left:0; 
    line-height:1;
}

.ol {
    padding:0; 
    font-style:normal; 
    font-weight:normal; 
    text-indent:0;
}

.ol:first-child {margin-top:0;}
.ol:last-child {margin-bottom:0;}

.ol > li {
    color:var(--color-text-font-3); 
    word-break:keep-all; 
    overflow-wrap:break-word; 
    text-align:left; 
    font-size: 1.5rem;
}

.ol > li + li {margin-top:1.6rem;}

/* LINKS */
.a {
    display:inline-block; 
    position:relative; 
    background-color:transparent; 
    color:inherit; 
    font-weight:inherit; 
    font-size:inherit; 
    text-decoration:underline; 
    text-underline-offset:.125em; 
    font-size: 1.3rem;
}

.a.-arrow {
    position:relative; 
    padding-right:1.6rem; 
    text-decoration:none; 
    font-size: 1.4rem; 
    font-weight: 500; 
    color: var(--color-text-button-etc-text-icon);
}

.a.-arrow:after {
    content:""; 
    position:absolute; 
    top:50%; 
    transform: translateY(-50%); 
    right:0; 
    width:1.6rem; 
    height:1.6rem; 
    background:url(../imgs/nds/common/arr_right_line_16.png) no-repeat 0 / cover;
}

.dark-mode .a.-arrow:after {
    content:""; 
    position:absolute; 
    top:50%; 
    transform: translateY(-50%); 
    right:0; 
    width:1.6rem; 
    height:1.6rem; 
    background:url(../imgs/ico/common/ico-alink-arrow_dk.png) no-repeat 0 / cover;
}

/* UTILITY CLASSES */
.fixer .buttons + .button {margin-top:1.2rem;}
.fixer .button {padding-right:0; padding-left:0;}
.fixer .button.-lg {
    min-height:5.6rem; 
    padding:1rem 0; 
    border-radius:1.4rem; 
    font-size:1.8rem;
}

/* 버퍼 */
.content + .buffer,
.sticker + .buffer {height:0 !important}

/* fixer 없는 케이스 */
.fixer[style*="none"] ~ .buffer,
.fixer.dp-none ~ .buffer {height:0px !important}

/* fixer 있는 케이스 */
.fixer[style*="block"] ~ .buffer,
.fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:98px !important}

.layer .fixer[style*="block"] ~ .buffer,
.layer .fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:88px !important}

.alert .fixer[style*="block"] ~ .buffer,
.alert .fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:78px !important}

.content ~ .fixer:not(.dp-none):not([style*="none"]).position-static ~ .buffer {height:0 !important}

/* 케이스 간격 */
.case-wrap {margin-top: var(--spacing-32);}
.case-wrap.-xl {margin-top: var(--spacing-40);}
.case-wrap.-sm {margin-top: var(--spacing-32);}
.case-wrap.-xs {margin-top: var(--spacing-24);}
.case-wrap.-xxs {margin-top: var(--spacing-12);}
.case-wrap16 {margin-top: var(--spacing-16);}
.case-wrap20 {margin-top: var(--spacing-20);} 