@charset "utf-8";

/* CSS Variables for NDS Design System */

/* Basic Variables */
body {
    --in                   : 2.4rem;
    --out                  : calc(var(--in) * -1);
    --indent               : 0.4rem;
    --outdent              : calc(var(--indent) * -1);
    --word                 : "Pretendard", "DroidSans", "Apple SD Gothic Neo", "AppleGothic", sans-serif;
}

/* Color Palette */
body { 
    /* primitive color */
    /* green */
    --color-green-50: #E0F3E8;
    --color-green-100: #D1F3E0; 
    --color-green-200: #ABE9C5; 
    --color-green-300: #71E5A1; 
    --color-green-400: #3BC774; 
    --color-green-500: #19973C; 
    --color-green-600: #12743A; 
    --color-green-700: #0D572B; 
    --color-green-800: #093F1F; 
    --color-green-900: #062512; 
    /* green-dark */
    --color-green-dark-50: #E0F3E8; 
    --color-green-dark-100: #ABE9C5; 
    --color-green-dark-200: #71E5A1; 
    --color-green-dark-300: #3BC774; 
    --color-green-dark-400: #0F8F44; 
    --color-green-dark-500: #12743A; 
    --color-green-dark-600: #0D572B; 
    --color-green-dark-700: #093F1F; 
    --color-green-dark-800: #0A361C; 
    --color-green-dark-900: #062512; 
    /* gray */
    --color-gray-50: #FFFFFF; 
    --color-gray-100: #F6F6F6; 
    --color-gray-200: #F0F0F0; 
    --color-gray-300: #E1E1E1; 
    --color-gray-400: #D3D3D3; 
    --color-gray-500: #B3B3B3; 
    --color-gray-600: #999999; 
    --color-gray-700: #555555; 
    --color-gray-800: #333333; 
    --color-gray-900: #111111; 
    /* gray-dark */
    --color-gray-dark-50: #FFFFFF; 
    --color-gray-dark-100: #E6E6E6; 
    --color-gray-dark-200: #D0D0D0; 
    --color-gray-dark-300: #B0B0B0; 
    --color-gray-dark-400: #909090; 
    --color-gray-dark-500: #707070; 
    --color-gray-dark-600: #505050; 
    --color-gray-dark-700: #404040; 
    --color-gray-dark-800: #303030; 
    --color-gray-dark-900: #212121; 
    /* gray-font */
    --color-gray-font-50: #FFFFFF; 
    --color-gray-font-100: #F2F2F2; 
    --color-gray-font-200: #D9D9D9; 
    --color-gray-font-300: #BFBFBF; 
    --color-gray-font-400: #A6A6A6; 
    --color-gray-font-500: #909090; 
    --color-gray-font-600: #767676; 
    --color-gray-font-700: #505050; 
    --color-gray-font-800: #343434; 
    --color-gray-font-900: #121212; 
    /* base */
    --color-base-white: #FFFFFF; 
    --color-base-black: #212121; 
    /* red */
    --color-red-50: #FFE5E5; 
    --color-red-100: #FFB2B2; 
    --color-red-200: #F66F66; 
    --color-red-300: #E24949; 
    --color-red-400: #DF3535; 
    --color-red-500: #EC0C0C; 
    --color-red-600: #BD0000; 
    --color-red-700: #800000; 
    --color-red-800: #610000; 
    --color-red-900: #400000; 
    /* blue */
    --color-blue-50: #E5EFFF; 
    --color-blue-100: #B2D0FF; 
    --color-blue-200: #8FBBFF; 
    --color-blue-300: #7AAEFF; 
    --color-blue-400: #66A1FF; 
    --color-blue-500: #2C6DD4; 
    --color-blue-600: #2357A9; 
    --color-blue-700: #003B99; 
    --color-blue-800: #003385; 
    --color-blue-900: #002259; 
    /* skyblue */
    --color-skyblue-50: #E8F8FF; 
    --color-skyblue-100: #D1F1FF; 
    --color-skyblue-200: #A8DCF2; 
    --color-skyblue-300: #7DCAEA; 
    --color-skyblue-400: #57B6DE; 
    --color-skyblue-500: #2B9AC9; 
    --color-skyblue-600: #187AA4; 
    --color-skyblue-700: #095778; 
    --color-skyblue-800: #023E58; 
    --color-skyblue-900: #012D40; 
    /* cobalt */
    --color-cobalt-50: #E1DEFE; 
    --color-cobalt-100: #C4BEFE; 
    --color-cobalt-200: #A59EFE; 
    --color-cobalt-300: #8E86FD; 
    --color-cobalt-400: #7167FF; 
    --color-cobalt-500: #685EFD; 
    --color-cobalt-600: #4D44D9; 
    --color-cobalt-700: #362FB6; 
    --color-cobalt-800: #231D92; 
    --color-cobalt-900: #0E0C5A; 
    /* purple */
    --color-purple-50: #FFEFF7; 
    --color-purple-100: #F7DEEA; 
    --color-purple-200: #F7CCE1; 
    --color-purple-300: #EEB7D2; 
    --color-purple-400: #E794BD; 
    --color-purple-500: #D870A3; 
    --color-purple-600: #AF4F7D; 
    --color-purple-700: #92265A; 
    --color-purple-800: #5A0D32; 
    --color-purple-900: #38001B; 
    /* yellow */
    --color-yellow-50: #FFFCE5; 
    --color-yellow-100: #FFF9BF; 
    --color-yellow-200: #FFF27F; 
    --color-yellow-300: #FFEC40; 
    --color-yellow-400: #FFE600; 
    --color-yellow-500: #FFD103; 
    --color-yellow-600: #D9AE02; 
    --color-yellow-700: #997300; 
    --color-yellow-800: #640640; 
    --color-yellow-900: #331F00; 
    /* product-1 */
    --color-product-1-50: #DAEAF6; 
    --color-product-1-100: #BEDAEF; 
    --color-product-1-200: #A4CDEC; 
    --color-product-1-300: #72B0DF; 
    --color-product-1-400: #428FC9; 
    --color-product-1-500: #2473AF; 
    --color-product-1-600: #114E7D; 
    --color-product-1-700: #083D64; 
    --color-product-1-800: #052B48; 
    --color-product-1-900: #031E33; 
    /* product-2 */
    --color-product-2-50: #DCE4F5; 
    --color-product-2-100: #C8D4EF; 
    --color-product-2-200: #ACC0EC; 
    --color-product-2-300: #7896D8; 
    --color-product-2-400: #5076CB; 
    --color-product-2-500: #2F5ABA; 
    --color-product-2-600: #1A42A1; 
    --color-product-2-700: #0E2D78; 
    --color-product-2-800: #061B50; 
    --color-product-2-900: #031237; 
    /* product-3 */
    --color-product-3-50: #E7E4F3; 
    --color-product-3-100: #D4CDF1; 
    --color-product-3-200: #BFB4E9; 
    --color-product-3-300: #A392E2; 
    --color-product-3-400: #7B65D1; 
    --color-product-3-500: #523AB1; 
    --color-product-3-600: #2E1788; 
    --color-product-3-700: #200C6B; 
    --color-product-3-800: #15064E; 
    --color-product-3-900: #0F0439; 
    /* product-4 */
    --color-product-4-50: #F3E9F0; 
    --color-product-4-100: #F2D1E8; 
    --color-product-4-200: #EBB7DB; 
    --color-product-4-300: #DE8EC5; 
    --color-product-4-400: #CE66AD; 
    --color-product-4-500: #AF3C8B; 
    --color-product-4-600: #8A2069; 
    --color-product-4-700: #6E0E50; 
    --color-product-4-800: #4A0635; 
    --color-product-4-900: #300322; 
    /* product-5 */
    --color-product-5-50: #F6EFE6; 
    --color-product-5-100: #F6E9CE; 
    --color-product-5-200: #ECC98D; 
    --color-product-5-300: #E5B851; 
    --color-product-5-400: #EEAE1A; 
    --color-product-5-500: #C88F0B; 
    --color-product-5-600: #A27409; 
    --color-product-5-700: #684C09; 
    --color-product-5-800: #4A3606; 
    --color-product-5-900: #332503; 
    /* product-6 */
    --color-product-6-50: #E2EFE8; 
    --color-product-6-100: #C4EED7; 
    --color-product-6-200: #9FE2BE; 
    --color-product-6-300: #66D599; 
    --color-product-6-400: #39C479; 
    --color-product-6-500: #199A54; 
    --color-product-6-600: #0A753B; 
    --color-product-6-700: #054622; 
    --color-product-6-800: #064622; 
    --color-product-6-900: #022411; 
    /* semantic color */
    /* text */
    --color-text-font-1: #121212; 
    --color-text-font-2: #343434; 
    --color-text-font-3: #505050; 
    --color-text-font-4: #767676; 
    --color-text-font-5: #929292;  /* 250327 색상변경 */
    --color-text-font-6: #A6A6A6; 
    --color-text-font-7: #BFBFBF; 
    --color-text-font-8: #D9D9D9; 
    --color-text-font-9: #F2F2F2; 
    --color-text-font-10: #FFFFFF;
    --color-text-visual: #2C6DD4; 
    --color-text-error: #E24949; 
    --color-text-point: #19973C; 
    --color-text-positive: #2C6DD4; 
    --color-text-negative: #EC0C0C; 
    --text-font-1: #121212;
    /* border */
    --color-border-line-1: #D3D3D3; 
    --color-border-line-2: #E1E1E1; 
    --color-border-line-3: #F0F0F0; 
    --color-border-line-4: #F6F6F6; 
    --color-border-error: #E24949; 
    --color-border-point: #19973C; 
    --color-border-select-default: #E1E1E1;
    /* input */
    --color-border-input-default: #E1E1E1;
    --color-border-input-focus: #19973C;
    --color-border-input-error: #E24949;
    --color-bg-input-readonly: #F0F0F0;
    --color-bg-input-disabled: #F0F0F0;
    --color-text-input-filled: #121212;
    /* radio */
    --color-text-radio-box-default: #505050;
    --color-border-radio-box-selected: #19973C;
    --color-text-radio-box-selected: #19973C;
    --color-text-radio-basic-default: #121212;
    /* background */
    --color-bg-default: #FFFFFF; 
    --color-bg-disabled: #F0F0F0;
    --color-bg-container: #F6F6F6; 
    --color-bg-table_header: #F6F6F6; 
    --color-bg-select-readonly: #F0F0F0;
    --color-bg-product-1: #DAEAF6;
    --color-bg-product-2: #DCE4F5;
    --color-bg-product-3: #E7E4F3;
    --color-bg-product-4: #F3E9F0;
    --color-bg-product-5: #F6EFE6;
    --color-bg-product-6: #E2EFE8;
    --color-bg-point: #19973C;
    --bg-default: #FFFFFF;
    --color-bg-banner: #F3F5F8;
    /* dimmed */
    --color-bg-dimmed: rgba(17, 17, 17, 0.30); 
    /* select */
    --color-bg-select-readonly: #F0F0F0;
    --color-bg-select-disabled: #F0F0F0;
    --color-border-select-default: #E1E1E1;
    --color-border-select-error: #E24949;
    --color-text-select-inactive: #929292;
    --color-text-select-filled: #121212;
    /* icon */
    --color-icon-primary: #111111; 
    --color-icon-secondary: #D3D3D3; 
    --color-icon-reverse: #FFFFFF; 
    --color-icon-bullet-default: #505050; 
    --color-icon-bullet-info: #999999; 
    --color-icon-gray400: #D3D3D3;
    --color-icon-gray600: #999999;
    --color-text-button-etc-text-icon: #505050;  /* 250113 컬러변경 */
    --color-border-button-floating: #685EFD;
    --color-bg-button-floating: #FFFFFF;
    --color-text-button-floating: #685EFD;
    /* banner */
    --color-bg-banner-1: #F3F5F8;
    --bg-blue-blue-3: #1A42A1;
    --bg-blue-blue-8: #EBEFF6;
    --bg-blue-blue-6: #DAEAF6;
    --bg-violet-violet-4: #E7E4F3;
    /* button */
    --color-bg-button-primary-default: #19973C; 
    --color-bg-button-primary-pressed: #0D572B; 
    --color-bg-button-primary-disabled: #F0F0F0; 
    --color-text-button-primary-default: #ffffff;
    --color-border-button-secondary-default: #19973C; 
    --color-border-button-secondary-pressed: #0D572B; 
    --color-text-button-secondary-pressed: #0D572B;
    --color-bg-button-secondary-pressed: #E0F3E8; 
    --color-border-button-secondary-disabled: #E1E1E1; 
    --color-border-button-tertiary-default: #D3D3D3; 
    --color-border-button-tertiary-pressed: #D3D3D3; 
    --color-bg-button-tertiary-pressed: #F6F6F6; 
    --color-border-button-tertiary-disabled: #E1E1E1; 
    --color-text-button-tertiary-default: #121212;
    --color-text-button-tertiary-disabled: #909090;
    --color-text-button-tertiary-pressed: #121212;
    --color-bg-disabled: #F0F0F0;
    --color-text-button-etc-text-icon: #505050;   /* 250113 컬러변경 */
    --color-bg-button-tertiary-default: #FFFFFF;
    /* tab */
    --color-bg-tab-default: #F3F5F8;
    --color-border-tab-active: #A2A8B2;
    --color-bg-tab-active: #FFFFFF;
    --bg-segments-active: #FFFFFF;
    --color-border-tab-active: #111111;
    --color-bg-tab-chip-active: #FFFFFF;
    --color-text-tab-chip-default: #121212;
    --color-bg-tab-bar-default: #F3F5F8;
    --color-bg-tab-bar-active: #FFFFFF;
    --color-bg-tab-chip-bg: #FFFFFF;
    /* checkbox */
    --color-border-checkbox-basic-default: #D3D3D3;
    --color-text-checkbox-box-default: #505050;
    --color-border-checkbox-box-selected: #19973C;
    --color-text-checkbox-box-selected: #19973C;
    --color-border-checkbox-box-disabled: #D3D3D3;
    --color-text-checkbox-basic-disabled: #909090;
    --color-text-checkbox-basic-default: #121212;
    --color-border-checkbox-basic-default: #707070;
    --color-bg-checkbox-basic-selected: #19973C;
    --color-border-checkbox-basic-disabled: #E1E1E1;
    --color-bg-checkbox-basic-disabled: #F6F6F6;
    --color-bg-checkbox-basic-selected-disabled: #B3B3B3;
    --color-bg-checkbox-box-disabled: #F0F0F0;
    --color-border-checkbox-box-disabled: #D3D3D3;
    --color-text-checkbox-box-disabled: #505050;
    /* radio */
    --color-text-radio-basic-disabled: #909090;
    --color-bg-radio-bar-default: #F3F5F8;
    --color-bg-radio-bar-selected: #FFFFFF;
    --color-border-radio-bar-selected: #A2A8B2;
    --color-border-radio-box-negative: #E24949;
    --color-border-radio-box-selected: #19973C;
    --color-text-radio-box-default: #505050;
    --color-border-radio-box-default: #D3D3D3;
    --color-border-radio-basic-selected: #19973C;
    --color-border-radio-box-negative: #E24949;
    --color-border-radio-basic-default: #D3D3D3;
    --color-bg-radio-basic-default: #D3D3D3;
    --color-border-radio-basic-selected: #19973C;
    --color-bg-radio-basic-selected: #19973C;
    --color-bg-radio-basic-disabled: #F6F6F6;
    --color-border-radio-basic-disabled: #E1E1E1;
    --color-bg-radio-basic-default: #D3D3D3;
    --color-bg-radio-basic-selected-disabled-inner: #FFFFFF;
    --color-bg-radio-basic-selected-disabled: #B3B3B3;
    --color-border-radio-box-disabled: #D3D3D3;
    --color-border-radio-box-disabled: #D3D3D3;
    --color-bg-radio-box-disabled: #F6F6F6;
    --color-text-radio-box-disabled: #767676;
    /* switch */
    --color-bg-switch-off: #F0F0F0;
    --color-bg-switch-on: #19973C;
    --color-bg-switch-inner: #FFFFFF;
    --color-bg-switch-big-font-off: #E1E1E1;
    /* chip */
    --color-text-chip-active: #FFFFFF;
    --color-bg-chip-active: #111111;
    --color-bg-tab-chip-active: #111111;
    --color-text-tab-chip-default: #FFFFFF;
    --color-bg-tab-chip-default: #F6F6F6;
    --color-bg-tab-line-bg: #FFFFFF;
    /* calendar */
    --color-bg-picker-calendar-select-to: #19973C;
    --color-bg-picker-calendar-select-from: #333333;
    --color-text-picker-disabled: #929292;
    --color-text-picker-calendar-select: #FFFFFF;
    --color-text-picker-default: #121212;
    --color-text-picker-saturday: #2C6DD4;
    --color-text-picker-sunday: #EC0C0C;
    --color-text-picker-week: #767676;
    /* datepicker */
    --color-text-picker-piacker-select: #19973C;
    --color-bg-picker-picker-press: #F6F6F6;
    --color-text-picker-default: #121212;
    /* process */
    --color-bg-progress-bg: #F3F5F8;
    --color-bg-progress-active: #19973C;
    --color-bg-step-disabled: #F3F5F8;
    --color-bg-step-active: #19973C;
    --color-bg-step-default: #FFFFFF;
    --color-text-step-active: #FFFFFF;
    --color-border-step-point: #19973C;
    --color-bg-point: #19973C;
    /* attached file */
    --color-text-button-file-default: #505050;
    --color-text-button-file-disabled: #909090;
    /* indicator */
    --color-bg-indicator-default: #111111;
    --color-text-indicator-default: #FFFFFF;
    --color-bg-indicator-number-default: #111111;
    --color-bg-indicator-dot-default: #D3D3D3;
    --color-bg-indicator-dot-active: #19973C;
    /* badge */
    --color-border-label-gray: #767676;
    --color-text-label-gray: #767676;
    --color-border-label-green: #19973C;
    --color-text-label-green: #19973C;
    --color-border-label-blue: #2C6DD4;
    --color-text-label-blue: #2C6DD4;
    --color-border-label-red: #D10F0F;
    --color-text-label-red: #D10F0F;
    --color-border-label-orange: #D44B10;
    --color-text-label-orange: #D44B10;
    --color-border-label-yellow: #DA6F11;
    --color-text-label-yellow: #DA6F11;
    --color-border-label-lightblue: #12A396;
    --color-text-label-lightblue: #12A396;
    --color-border-label-skyblue: #2B9AC9;
    --color-text-label-skyblue: #2B9AC9;
    --color-border-label-cobalt: #015AAC;
    --color-text-label-cobalt: #015AAC;
    --color-border-label-navy: #015AAC;
    --color-text-label-navy: #015AAC;
    --color-bg-badge-red: #E24949;
    /* toast */
    --color-bg-toast-basic: #111111;
    --color-text-toast-default: #FFFFFF;
    --color-border-popover-default: #111111;
    --color-bg-popover-default: #111111;
    --color-text-popover-default: #FFFFFF;
    /* dark */
    --text-font-1-dark: #121212;
    --text-font-4-dark: #767676;
    --text-font-3-dark: #505050;
    --text-font-10: #FFFFFF;
    /* radius */
    --border-radius-0: 0; 
    --border-radius-4: .4rem; 
    --border-radius-8: .8rem; 
    --border-radius-10: 1rem; 
    --border-radius-12: 1.2rem; 
    --border-radius-16: 1.6rem; 
    --border-radius-circle: 99.9rem; 
    /* spacing */
    --spacing-0: 0; 
    --spacing-2: .2rem; 
    --spacing-4: .4rem; 
    --spacing-8: .8rem; 
    --spacing-12: 1.2rem; 
    --spacing-16: 1.6rem; 
    --spacing-20: 2rem; 
    --spacing-24: 2.4rem; 
    --spacing-32: 3.2rem; 
    --spacing-40: 4rem; 
    --spacing-60: 6rem; 
    --spacing-72: 7.2rem; 
    --spacing-80: 8rem; 
    --spacing-88: 8.8rem; 
    --spacing-96: 9.6rem; 
    --spacing-104: 10.4rem; 
    --spacing-112: 11.2rem; 
    --spacing-120: 12rem; 
}

/* 다크모드 컬러 */
.dark-mode {
    /* text */
    --color-text-font-1: #FFFFFF; 
    --color-text-font-2: #F2F2F2; 
    --color-text-font-3: #D9D9D9; 
    --color-text-font-4: #BFBFBF; 
    --color-text-font-5: #A6A6A6; 
    --color-text-font-6: #909090; 
    --color-text-font-7: #767676; 
    --color-text-font-8: #505050; 
    --color-text-font-9: #343434; 
    --color-text-font-10: #121212;
    --color-text-visual: #2C6DD4; 
    --color-text-error: #E24949; 
    --color-text-point: #19973C; 
    --color-text-positive: #2C6DD4; 
    --color-text-negative: #EC0C0C; 
    /* border */
    --color-border-line-1: #707070; 
    --color-border-line-2: #505050; 
    --color-border-line-3: #404040; 
    --color-border-line-4: #303030; 
    --color-border-error: #E24949; 
    --color-border-point: #19973C; 
    --color-border-select-default: #505050;
    /* background */
    --color-bg-default: #212121; 
    --color-bg-disabled: #404040;
    --color-bg-container: #303030; 
    --color-bg-table_header: #303030; 
    --color-bg-point: #12743A;
    --color-bg-dimmed: rgba(17, 17, 17, 0.80); 
    --bg-default: #212121;
    --bg-blue-blue-8: #414448;
    --color-bg-banner: #35383B;
    /* icon */
    --color-icon-primary: #111111; 
    --color-icon-secondary: #D3D3D3; 
    --color-icon-reverse: #FFFFFF; 
    --color-icon-bullet-default: #505050; 
    --color-icon-bullet-info: #999999; 
    --color-icon-gray400: #707070;
    --color-icon-gray600: #999999;
    --color-icon-gray900: #FFFFFF;
    /* banner */
    --color-bg-banner-1: #35383B;
    /* picker */
    --color-text-picker-default: #FFFFFF;
    --color-bg-picker-picker-press: #303030;
    --color-text-picker-piacker-select: #3CBD61;
    /* button */
    --color-bg-button-primary-default: #3CBD61;
    --color-bg-button-primary-pressed: #ACE3BC;
    --color-text-button-primary-default: #FFFFFF;
    --color-text-button-primary-disabled: #A6A6A6;
    --color-bg-button-primary-disabled: #404040;
    --color-bg-button-secondary-pressed: #062512;
    --color-text-button-secondary-default: #3CBD61;
    --color-bg-button-secondary-default: #212121;
    --color-text-button-secondary-pressed: #ACE3BC;
    --color-text-button-secondary-disabled: #A6A6A6;
    --color-border-button-secondary-disabled: #B0B0B0;
    --color-text-button-tertiary-default: #FFFFFF;
    --color-border-button-tertiary-default: #707070;
    --color-bg-button-tertiary-default: #212121;
    --color-text-button-tertiary-pressed: #FFFFFF;
    --color-border-button-tertiary-pressed: #707070;
    --color-bg-button-tertiary-pressed: #303030;
    --color-text-button-tertiary-disabled: #A6A6A6;
    --color-border-button-tertiary-disabled: #B0B0B0;
    --color-bg-button-tertiary-disabled: #212121;
    --color-text-button-floating: #685EFD;
    --color-border-button-floating: #685EFD;
    --color-bg-button-floating: #212121;
    --color-text-button-etc-text-icon: #D9D9D9;
    --color-gray-900: #FFFFFF;  /* floating */
    --color-gray-50: #212121;  /* floating */
    /* input */
    --color-bg-input-readonly: #404040;
    --color-bg-input-disabled: #404040;
    --color-border-input-default: #505050;
    --color-text-input-filled: #FFFFFF;
    /* select */
    --color-border-select-default: #505050;
    --color-bg-select-readonly: #404040;
    --color-bg-select-disabled: #404040;
    --color-text-select-inactive: #A6A6A6;
    --color-text-select-filled: #FFFFFF;
    /* check */
    --color-text-checkbox-basic-default: #FFFFFF;
    --color-text-checkbox-basic-disabled: #A6A6A6;
    --color-border-checkbox-basic-default: #B0B0B0;
    --color-bg-checkbox-basic-selected: #12743A;
    --color-border-checkbox-basic-disabled: #505050;
    --color-bg-checkbox-basic-disabled: #303030;
    --color-bg-checkbox-basic-selected-disabled: #909090;
    --color-bg-checkbox-box-disabled: #404040;
    --color-border-checkbox-box-disabled: #707070;
    --color-text-checkbox-box-disabled: #A6A6A6;
    /* radio */
    --color-text-radio-box-default: #D9D9D9;
    --color-border-radio-box-default: #707070;
    --color-text-radio-box-disabled: #A6A6A6;
    --color-border-radio-box-disabled: #707070;
    --color-text-radio-basic-default: #FFFFFF;
    --color-text-radio-box-default: #D9D9D9;
    --color-border-radio-basic-default: #707070;
    --color-bg-radio-basic-default: #404040;
    --color-border-radio-basic-disabled: #505050;
    --color-bg-radio-basic-disabled: #303030;
    --color-bg-radio-basic-selected-disabled: #909090;
    --color-bg-radio-basic-selected-disabled-inner: #212121;
    --color-border-radio-bar-selected: #838894;
    --color-bg-radio-bar-selected: #212121;
    --color-bg-radio-bar-default: #35383B;
    --color-bg-radio-box-disabled: #303030;
    /* table */
    --color-bg-table_header: #303030;
    /* toast */
    --color-bg-toast-basic: #FFFFFF;
    --color-text-toast-default: #121212;
    /* progress */
    --color-bg-progress-bg: #35383B;
    --color-bg-progress-active: #0F8F44;
    --color-border-line-2: #505050;
    --color-bg-step-disabled: #35383B;
    --color-bg-step-active: #0F8F44;
    --color-text-step-active: #FFFFFF;
    --color-bg-step-default: #212121;
    /* popover */
    --color-bg-popover-default: #FFFFFF;
    --color-border-popover-default: #FFFFFF;
    --color-text-popover-default: #121212;
    /* tab */
    --color-border-tab-active: #FFFFFF;
    --color-bg-tab-bar-default: #35383B;
    --color-bg-tab-bar-active: #212121;
    --color-bg-tab-chip-active: #FFFFFF;
    --color-text-tab-chip-default: #121212;
    --color-bg-tab-line-bg: #212121;
    /* chip */
    --color-bg-chip-active: #FFFFFF;
    --color-text-chip-active: #121212;
    --color-bg-tab-chip-bg: #212121;
    --color-text-tab-chip-default: #121212;
    --color-bg-tab-chip-default: #303030;
    /* switch */
    --color-bg-switch-off: #404040;
    --color-bg-switch-inner: #212121;
    --color-bg-switch-on: #12743A;
    --color-bg-switch-big-font-off: #505050;
    /* label */
    --color-border-label-gray: #A6A6A6;
    --color-text-label-gray: #BFBFBF;
    /* indicator */
    --color-bg-indicator-dot-default: #707070;
    --color-bg-indicator-dot-active: #12743A;
    --color-bg-indicator-number-default: #FFFFFF;
    --color-text-indicator-default: #121212;
    /* dark */
    --text-font-1-dark: #FFFFFF;
    --text-font-4-dark: #BFBFBF;
    --text-font-3-dark: #D9D9D9;
} 