/* Empty Component Styles */
/* Extracted from common-ui.css */

/* ë¹??íƒœ ê¸°ë³¸ ?¤í???*/
.empty.result {display:flex; flex-direction: column; justify-content:center; align-items:center; padding: var(--spacing-24); text-align:center;}

.empty.result::before {content:""; display:block; width:4rem; height:4rem; background:url(../src/imgs/nds/common/ico_no-data_fill_40.png) no-repeat 0 0 / 4rem;}

.dark-mode .empty.result::before {content:""; display:block; width:4rem; height:4rem; background:url(../src/imgs/nds/common/ico_no-data_fill_40_dk.png) no-repeat 0 0 / 4rem;}

.empty.result.-noicon::before {display:none;}

.empty.result .message {color:var(--color-text-font-3); font-size: 1.4rem; word-break:keep-all; font-weight: 400; margin-top: var(--spacing-16);}

.empty.result .desc {margin-top:1.9rem; color:var(--color-text-font-3); font-size:1.6rem;}

/* ÁÖ¼® ¼öÁ¤µÊ */
.empty.result.-page {padding: 4.8rem var(--spacing-24) var(--spacing-24);}

.empty.result.-page::before {content:""; display:block; width:5.6rem; height:5.6rem; background:url(../src/imgs/nds/common/ico_dd_fill_56.png) no-repeat 0 0 / 5.6rem;}

.dark-mode .empty.result.-page::before {content:""; display:block; width:5.6rem; height:5.6rem; background:url(../src/imgs/nds/common/ico_dd_fill_56_dk.png) no-repeat 0 0 / 5.6rem;}

.empty.result.-page .message {margin-top: var(--spacing-24); font-size: 1.6rem;}

/* ë¹??íƒœ ?„ì´ì½?*/
.empty.result .icon {margin-bottom: var(--spacing-16);}

.empty.result .icon img {display: block;}

/* ë¹??íƒœ ?¡ì…˜ */
.empty.result .action {margin-top: var(--spacing-24);}

/* ÁÖ¼® ¼öÁ¤µÊ */
.empty.result.-xs {padding: var(--spacing-0); margin: var(--spacing-0);}

.empty.result.-xs .message {margin: 5.6rem var(--spacing-0);}

/* ÁÖ¼® ¼öÁ¤µÊ */
.tabs-panel .empty.result,
.subs-panel .empty.result {margin-top:4rem;}

.content.-wide .tabs-panel .empty.result,
.content.-wide .subs-panel .empty.result {margin-top:6.5rem;}

.segments-panel .empty.result {margin-top:0.5rem;}

.tabs-panel .empty.result.-sm,
.subs-panel .empty.result.-sm {margin-top:4rem;}

.content.-wide .tabs-panel .empty.result.-sm,
.content.-wide .subs-panel .empty.result.-sm {margin-top:6.5rem;}

.segments-panel .empty.result.-sm {margin-top:3.5rem;}

/* ê³„ì¢Œ ? íƒ ë¦¬ìŠ¤????ë¹??íƒœ */
.choose-account-list .empty.result.-xs {padding: var(--spacing-0); margin: var(--spacing-0);}

.choose-account-list .empty.result.-xs .message {margin: 5.6rem var(--spacing-0);} 
