<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="assets/css/common-ui.css">
<title>BottomSheet Part 30</title>
</head>
<body>
<!-- Bottomsheet - picker/wheel/period -->

                            <button type="button" class="a underline point" onClick="Layer.open('Bottomsheet-picker_wheel_period')">테스트모드에서 클릭</button>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/3451_74610.png" alt=""></div>
                            <div id="Bottomsheet-picker_wheel_period" class="layer">
                                <div class="container">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">기간 선택</h1>

                                            <div class="funcs">
                                                <button type="button" class="func -close" onClick="Layer.close('Bottomsheet-picker_wheel_period')"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contents">
                                        <div class="content">
                                            <div class="datepicker-widget">
                                                <ul class="time">
                                                    <li aria-selected="false"><span class="number">1</span>년</li>
                                                    <li aria-selected="false"><span class="number">2</span>년</li>
                                                    <li aria-selected="false"><span class="number">3</span>년</li>
                                                    <li class="on" aria-selected="true"><span class="number">4</span>년</li>
                                                    <li aria-selected="false"><span class="number">5</span>년</li>
                                                    <li aria-selected="false"><span class="number">6</span>년</li>
                                                    <li aria-selected="false"><span class="number">7</span>년</li>
                                                    <li aria-selected="false"><span class="number">8</span>년</li>
                                                    <li aria-selected="false"><span class="number">9</span>년</li>
                                                    <li aria-selected="false"><span class="number">10</span>년</li>
                                                    <li aria-selected="false"><span class="number">11</span>년</li>
                                                    <li aria-selected="false"><span class="number">12</span>년</li>
                                                    <li aria-selected="false"><span class="number">13</span>년</li>
                                                    <li aria-selected="false"><span class="number">14</span>년</li>
                                                    <li aria-selected="false"><span class="number">15</span>년</li>
                                                    <li aria-selected="false"><span class="number">16</span>년</li>
                                                    <li aria-selected="false"><span class="number">17</span>년</li>
                                                    <li aria-selected="false"><span class="number">18</span>년</li>
                                                    <li aria-selected="false"><span class="number">19</span>년</li>
                                                    <li aria-selected="false"><span class="number">20</span>년</li>
                                                    <li aria-selected="false"><span class="number">21</span>년</li>
                                                    <li aria-selected="false"><span class="number">22</span>년</li>
                                                    <li aria-selected="false"><span class="number">23</span>년</li>
                                                    <li aria-selected="false"><span class="number">24</span>년</li>
                                                </ul>
                                                <ul class="minute">
                                                    <li aria-selected="false"><span class="number">1</span>개월</li>
                                                    <li class="on" aria-selected="true"><span class="number">2</span>개월</li>
                                                    <li aria-selected="false"><span class="number">3</span>개월</li>
                                                    <li aria-selected="false"><span class="number">4</span>개월</li>
                                                    <li aria-selected="false"><span class="number">5</span>개월</li>
                                                    <li aria-selected="false"><span class="number">6</span>개월</li>
                                                    <li aria-selected="false"><span class="number">7</span>개월</li>
                                                    <li aria-selected="false"><span class="number">8</span>개월</li>
                                                    <li aria-selected="false"><span class="number">9</span>개월</li>
                                                    <li aria-selected="false"><span class="number">10</span>개월</li>
                                                    <li aria-selected="false"><span class="number">11</span>개월</li>
                                                    <li aria-selected="false"><span class="number">12</span>개월</li>
                                                    <li aria-selected="false"><span class="number">13</span>개월</li>
                                                    <li aria-selected="false"><span class="number">14</span>개월</li>
                                                    <li aria-selected="false"><span class="number">15</span>개월</li>
                                                    <li aria-selected="false"><span class="number">16</span>개월</li>
                                                    <li aria-selected="false"><span class="number">17</span>개월</li>
                                                    <li aria-selected="false"><span class="number">18</span>개월</li>
                                                    <li aria-selected="false"><span class="number">19</span>개월</li>
                                                    <li aria-selected="false"><span class="number">20</span>개월</li>
                                                    <li aria-selected="false"><span class="number">21</span>개월</li>
                                                    <li aria-selected="false"><span class="number">22</span>개월</li>
                                                    <li aria-selected="false"><span class="number">23</span>개월</li>
                                                    <li aria-selected="false"><span class="number">24</span>개월</li>
                                                    <li aria-selected="false"><span class="number">25</span>개월</li>
                                                    <li aria-selected="false"><span class="number">26</span>개월</li>
                                                    <li aria-selected="false"><span class="number">27</span>개월</li>
                                                    <li aria-selected="false"><span class="number">28</span>개월</li>
                                                    <li aria-selected="false"><span class="number">29</span>개월</li>
                                                    <li aria-selected="false"><span class="number">30</span>개월</li>
                                                    <li aria-selected="false"><span class="number">31</span>개월</li>
                                                    <li aria-selected="false"><span class="number">32</span>개월</li>
                                                    <li aria-selected="false"><span class="number">33</span>개월</li>
                                                    <li aria-selected="false"><span class="number">34</span>개월</li>
                                                    <li aria-selected="false"><span class="number">35</span>개월</li>
                                                    <li aria-selected="false"><span class="number">36</span>개월</li>
                                                    <li aria-selected="false"><span class="number">37</span>개월</li>
                                                    <li aria-selected="false"><span class="number">38</span>개월</li>
                                                    <li aria-selected="false"><span class="number">39</span>개월</li>
                                                    <li aria-selected="false"><span class="number">40</span>개월</li>
                                                    <li aria-selected="false"><span class="number">41</span>개월</li>
                                                    <li aria-selected="false"><span class="number">42</span>개월</li>
                                                    <li aria-selected="false"><span class="number">43</span>개월</li>
                                                    <li aria-selected="false"><span class="number">44</span>개월</li>
                                                    <li aria-selected="false"><span class="number">45</span>개월</li>
                                                    <li aria-selected="false"><span class="number">46</span>개월</li>
                                                    <li aria-selected="false"><span class="number">47</span>개월</li>
                                                    <li aria-selected="false"><span class="number">48</span>개월</li>
                                                    <li aria-selected="false"><span class="number">49</span>개월</li>
                                                    <li aria-selected="false"><span class="number">50</span>개월</li>
                                                    <li aria-selected="false"><span class="number">51</span>개월</li>
                                                    <li aria-selected="false"><span class="number">52</span>개월</li>
                                                    <li aria-selected="false"><span class="number">53</span>개월</li>
                                                    <li aria-selected="false"><span class="number">54</span>개월</li>
                                                    <li aria-selected="false"><span class="number">55</span>개월</li>
                                                    <li aria-selected="false"><span class="number">56</span>개월</li>
                                                    <li aria-selected="false"><span class="number">57</span>개월</li>
                                                    <li aria-selected="false"><span class="number">58</span>개월</li>
                                                    <li aria-selected="false"><span class="number">59</span>개월</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="fixer">
                                            <div class="buttons">
                                                <button type="button" class="button -primary -lg">확인</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        


</body>
</html>