<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="assets/css/common-ui.css">
<title>BottomSheet Part 22</title>
</head>
<body>
<!-- Bottomsheet - list/single -->

                            <button type="button" class="a underline point" onClick="Layer.open('Bottomsheet-list_single')">테스트모드에서 클릭</button>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/1041_35282.png" alt=""></div>
                            <div id="Bottomsheet-list_single" class="layer">
                                <div class="container">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">타이틀</h1>

                                            <div class="funcs">
                                                <button type="button" class="func -close" onClick="Layer.close('Bottomsheet-list_single')"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contents">
                                        <div class="content">
                                            <div class="options">
                                                <ul>
                                                    <li><button type="button" class="option">항목1</button></li>
                                                    <li><button type="button" class="option -active">항목2</button></li>
                                                    <li><button type="button" class="option">항목3</button></li>
                                                    <li><button type="button" class="option">항목4</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        


</body>
</html>