<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="assets/css/common-ui.css">
<title>BottomSheet Part 9</title>
</head>
<body>
<!-- Bottomsheet - basic/with-header - Type=none -->

                            <button type="button" class="a underline point" onClick="Layer.open('Bottomsheet-basic_with-header-Type_none')">테스트모드에서 클릭</button>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/5076_70138.png" alt=""></div>
                            <div id="Bottomsheet-basic_with-header-Type_none" class="layer">
                                <div class="container">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">타이틀</h1>

                                            <div class="funcs">
                                                <button type="button" class="func -close" onClick="Layer.close('Bottomsheet-basic_with-header-Type_none')"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="contents">
                                        <div class="content">
                                            <p class="p">내용</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        


</body>
</html>