<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="assets/css/common-ui.css">
<title>BottomSheet Part 8</title>
</head>
<body>
<!-- Bottomsheet - basic/none-header - Type=with-cta -->

                            <button type="button" class="a underline point" onClick="Layer.open('Bottomsheet-basic_none-header-Type_with-cta')">테스트모드에서 클릭</button>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/5076_95876.png" alt=""></div>
                            <div id="Bottomsheet-basic_none-header-Type_with-cta" class="layer">
                                <div class="container">
                                    <div class="no-header" aria-hidden="true">
                                        <div class="inner"></div>
                                    </div>

                                    <div class="contents">
                                        <div class="content bttm">
                                            <h2 class="h3">타이틀</h2>
                                            <p class="p">내용</p>
                                            <p class="p"><button type="button" class="a underline point" onClick="Layer.close('Bottomsheet-basic_none-header-Type_with-cta')">레이어 닫기</button></p>
                                        </div>

                                        <div class="fixer">
                                            <div class="buttons">
                                                <button type="button" class="button -lg -primary" >버튼명</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        


</body>
</html>