<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="assets/css/common-ui.css">
<title>BottomSheet Part 13</title>
</head>
<body>
<!-- Bottomsheet - keypad/basic -->

                            <button type="button" class="a underline point" onClick="Layer.open('Bottomsheet-keypad_basic')">테스트모드에서 클릭</button>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/1104_27986.png" alt=""></div>
                            <div id="Bottomsheet-keypad_basic" class="layer dimWhiteLayer">
                                <div class="container">
                                    <div class="contents">
                                        <div class="content">
                                            <div class="choose-account-Wrap -inputed">
                                                <div class="custom-key-wrap">
                                                    <span role="button" class="key-btn" data-value="1" title="숫자 1 입력">1</span>
                                                    <span role="button" class="key-btn" data-value="2" title="숫자 2 입력">2</span>
                                                    <span role="button" class="key-btn" data-value="3" title="숫자 3 입력">3</span>
                                                    <span role="button" class="key-btn" data-value="4" title="숫자 4 입력">4</span>
                                                    <span role="button" class="key-btn" data-value="5" title="숫자 5 입력">5</span>
                                                    <span role="button" class="key-btn" data-value="6" title="숫자 6 입력">6</span>
                                                    <span role="button" class="key-btn" data-value="7" title="숫자 7 입력">7</span>
                                                    <span role="button" class="key-btn" data-value="8" title="숫자 8 입력">8</span>
                                                    <span role="button" class="key-btn" data-value="9" title="숫자 9 입력">9</span>
                                                    <span role="button" class="key-btn disabled" aria-hidden="true">NH</span>
                                                    <span role="button" class="key-btn" data-value="0" title="숫자 0 입력">0</span>
                                                    <span role="button" class="key-btn btn-del" title="마지막 숫자 삭제"></span>
                                                </div>
                                                <div class="buttons">
                                                    <button type="button" class="button -lg -primary" onClick="Layer.close('Bottomsheet-keypad_basic')">확인(레이어닫기)</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        


</body>
</html>