<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Attached file Components</title>
</head>
<body>
<!-- Attached file - list - Type=1line -->

                            <div class="attached-file-wrap">
                                <div class="attached-file-box mr-0">
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        

<!-- Attached file - list - Type=2line -->

                            <div class="attached-file-wrap">
                                <div class="attached-file-box mr-0">
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        

<!-- Attached file - list - Type=3line -->

                            <div class="attached-file-wrap">
                                <div class="attached-file-box mr-0">
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        

<!-- Attached file - list - Type=4line -->

                            <div class="attached-file-wrap">
                                <div class="attached-file-box mr-0">
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        

<!-- Attached file - list - Type=5line -->

                            <div class="attached-file-wrap">
                                <div class="attached-file-box mr-0">
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                    <div class="list">
                                        <div class="title">파일명</div>
                                        <button type="button" class="cancel-btn"><span class="hide">리스트 삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        

<!-- Attached file - thumbnail - Type=default -->

                            <div class="attached-file-box">
                                <button type="button" class="thumbnail -default">
                                    <div class="count"><span>0</span>/<span>0</span></div>
                                </button>
                            </div>
                        

<!-- Attached file - thumbnail - Type=disabled -->

                            <div class="attached-file-box">
                                <button type="button" class="thumbnail -disabled" disabled>
                                    <div class="count"><span>0</span>/<span>0</span></div>
                                </button>
                            </div>
                        

<!-- Attached file - thumbnail - Type=filled -->

                            <div class="attached-file-box">
                                <div class="thumbnail -filled">
                                    <img src="./assets/imgs/nds/common/img_nh-golf_58.png" alt="">
                                    <button type="button" class="cancel-btn"><span class="hide">사진 삭제</span></button>
                                </div>
                            </div>
                        

</body>
</html>