<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Badge Components</title>
</head>
<body>
<!-- Badge - new -->

                            <div class="relative">
                                <button type="button" class="badge-wrap">
                                    <span class="badge -new">
                                        <span class="hide">새로운 알람이 있습니다.</span>
                                    </span>
                                </button>
                            </div>
                        

</body>
</html>