<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Button Components</title>
</head>
<body>
<!-- Button - basic/primary - Size=lg, State=default -->

                            <button type="button" class="button -primary -lg">버튼</button>
                        

<!-- Button - basic/primary - Size=lg, State=disabled -->

                            <button type="button" class="button -primary -lg" disabled>버튼</button>
                        

<!-- Button - basic/primary - Size=lg, State=pressed -->

                            <button type="button" class="button -primary -lg">버튼</button>
                        

<!-- Button - basic/primary - Size=md, State=default -->

                            <button type="button" class="button -primary -md">버튼</button>
                        

<!-- Button - basic/primary - Size=md, State=disabled -->

                            <button type="button" class="button -primary -md" disabled>버튼</button>
                        

<!-- Button - basic/primary - Size=md, State=pressed -->

                            <button type="button" class="button -primary -md">버튼</button>
                        

<!-- Button - basic/primary - Size=rg, State=default -->

                            <button type="button" class="button -primary -rg">버튼</button>
                        

<!-- Button - basic/primary - Size=rg, State=disabled -->

                            <button type="button" class="button -primary -rg" disabled>버튼</button>
                        

<!-- Button - basic/primary - Size=rg, State=pressed -->

                            <button type="button" class="button -primary -rg">버튼</button>
                        

<!-- Button - basic/primary - Size=sm, State=default -->

                            <button type="button" class="button -primary -sm">버튼</button>
                        

<!-- Button - basic/primary - Size=sm, State=disabled -->

                            <button type="button" class="button -primary -sm" disabled>버튼</button>
                        

<!-- Button - basic/primary - Size=sm, State=pressed -->

                            <button type="button" class="button -primary -sm">버튼</button>
                        

<!-- Button - basic/secondary - Size=md, State=default -->

                            <button type="button" class="button -secondary -md">버튼</button>
                        

<!-- Button - basic/secondary - Size=md, State=disabled -->

                            <button type="button" class="button -secondary -md" disabled>버튼</button>
                        

<!-- Button - basic/secondary - Size=md, State=pressed -->

                            <button type="button" class="button -secondary -md">버튼</button>
                        

<!-- Button - basic/secondary - Size=rg, State=default -->

                            <button type="button" class="button -secondary -rg">버튼</button>
                        

<!-- Button - basic/secondary - Size=rg, State=disabled -->

                            <button type="button" class="button -secondary -rg" disabled>버튼</button>
                        

<!-- Button - basic/secondary - Size=rg, State=pressed -->

                            <button type="button" class="button -secondary -rg">버튼</button>
                        

<!-- Button - basic/secondary - Size=sm, State=default -->

                            <button type="button" class="button -secondary -sm">버튼</button>
                        

<!-- Button - basic/secondary - Size=sm, State=disabled -->

                            <button type="button" class="button -secondary -sm" disabled>버튼</button>
                        

<!-- Button - basic/secondary - Size=sm, State=pressed -->

                            <button type="button" class="button -secondary -sm">버튼</button>
                        

<!-- Button - basic/secondary - Size=xs, State=default -->

                            <button type="button" class="button -secondary -xs -fitted">버튼</button>
                        

<!-- Button - basic/secondary - Size=xs, State=disabled -->

                            <button type="button" class="button -secondary -xs -fitted" disabled>버튼</button>
                        

<!-- Button - basic/secondary - Size=xs, State=pressed -->

                            <button type="button" class="button -secondary -xs -fitted">버튼</button>
                        

<!-- Button - basic/tertiary - Size=lg, State=default -->

                            <button type="button" class="button -tertiary -lg">버튼</button>
                        

<!-- Button - basic/tertiary - Size=lg, State=disabled -->

                            <button type="button" class="button -tertiary -lg" disabled>버튼</button>
                        

<!-- Button - basic/tertiary - Size=lg, State=pressed -->

                            <button type="button" class="button -tertiary -lg">버튼</button>
                        

<!-- Button - basic/tertiary - Size=md, State=default -->

                            <button type="button" class="button -tertiary -md">버튼</button>
                        

<!-- Button - basic/tertiary - Size=md, State=disabled -->

                            <button type="button" class="button -tertiary -md" disabled>버튼</button>
                        

<!-- Button - basic/tertiary - Size=md, State=pressed -->

                            <button type="button" class="button -tertiary -md">버튼</button>
                        

<!-- Button - basic/tertiary - Size=rg, State=default -->

                            <button type="button" class="button -tertiary -rg">버튼</button>
                        

<!-- Button - basic/tertiary - Size=rg, State=disabled -->

                            <button type="button" class="button -tertiary -rg" disabled>버튼</button>
                        

<!-- Button - basic/tertiary - Size=rg, State=pressed -->

                            <button type="button" class="button -tertiary -rg">버튼</button>
                        

<!-- Button - basic/tertiary - Size=sm, State=default -->

                            <button type="button" class="button -tertiary -sm">버튼</button>
                        

<!-- Button - basic/tertiary - Size=sm, State=disabled -->

                            <button type="button" class="button -tertiary -sm" disabled>버튼</button>
                        

<!-- Button - basic/tertiary - Size=sm, State=pressed -->

                            <button type="button" class="button -tertiary -sm">버튼</button>
                        

<!-- Button - basic/tertiary - Size=xs, State=default -->

                            <button type="button" class="button -tertiary -xs -fitted">버튼</button>
                        

<!-- Button - basic/tertiary - Size=xs, State=disabled -->

                            <button type="button" class="button -tertiary -xs -fitted" disabled>버튼</button>
                        

<!-- Button - basic/tertiary - Size=xs, State=pressed -->

                            <button type="button" class="button -tertiary -xs -fitted">버튼</button>
                        

<!-- Button - cta/cta - Type=basic, Ratio=cta-3:7 -->

                            <div class="buttons">
                                <button type="button" class="button -tertiary -lg">취소</button>
                                <button type="button" class="button -primary -lg">확인</button>
                            </div>
                        

<!-- Button - cta/cta - Type=basic, Ratio=cta-5:5 -->

                            <div class="buttons -half">
                                <button type="button" class="button -tertiary -lg">버튼</button>
                                <button type="button" class="button -primary -lg ">버튼</button>
                            </div>
                        

<!-- Button - cta/cta - Type=basic, Ratio=cta-full -->

                            <div class="buttons">
                                <button type="button" class="button -lg -primary">다음</button>
                            </div>
                        

<!-- Button - cta/cta - Type=popup, Ratio=cta-3:7 -->

                            <div class="buttons">
                                <button type="button" class="button -tertiary -md">취소</button>
                                <button type="button" class="button -secondary -md">확인</button>
                            </div>
                        

<!-- Button - cta/cta - Type=popup, Ratio=cta-5:5 -->

                            <div class="buttons -half">
                                <button type="button" class="button -tertiary -md">버튼명</button>
                                <button type="button" class="button -secondary -md">버튼명</button>
                            </div>
                        

<!-- Button - cta/cta - Type=popup, Ratio=cta-full -->

                            <div class="buttons">
                                <button type="button" class="button -secondary -md">버튼명</button>
                            </div>
                        

<!-- Button - icon/icon -->

                            <div class="btn-icon">
                                <button type="button" title="NH고향사랑기부예금 핵심상품설명서" class="down-btn"><span class="hide">다운로드</span></button>
                            </div>
                        

<!-- Button - text/icon -->

                            <div class="buttons-arrow">
                                <a type="button" class="button-arrow-right button-arrow-left">버튼명</a>
                            </div>
                        

<!-- Button - text/link -->

                            <a href="javascript:void(0)" class="a underline">링크</a>
                        

</body>
</html>