<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Check Components</title>
</head>
<body>
<!-- Check - basic - Size=sm, State=default -->

                            <div class="checkbox -basic -sm">
                                <input type="checkbox" id="checkbox-sm1">
                                <label for="checkbox-sm1">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=sm, State=disabled -->

                            <div class="checkbox -basic -lg">
                                <input type="checkbox" id="checkbox-lg2" disabled>
                                <label for="checkbox-lg2">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=sm, State=select-disabled -->

                            <div class="checkbox -basic -lg -seldis">
                                <input type="checkbox" id="checkbox-lg3" disabled>
                                <label for="checkbox-lg3">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=sm, State=selected -->

                            <div class="checkbox -basic -lg">
                                <input type="checkbox" id="checkbox-lg1" checked>
                                <label for="checkbox-lg1">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=xs, State=default -->

                            <div class="checkbox -basic -xs">
                                <input type="checkbox" id="checkbox-xs1">
                                <label for="checkbox-xs1">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=xs, State=disabled -->

                            <div class="checkbox -basic -xs">
                                <input type="checkbox" id="checkbox-xs3" disabled>
                                <label for="checkbox-xs3">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=xs, State=select-disabled -->

                            <div class="checkbox -basic -xs -seldis">
                                <input type="checkbox" id="checkbox-xs4" disabled>
                                <label for="checkbox-xs4">체크박스</label>
                            </div>
                        

<!-- Check - basic - Size=xs, State=selected -->

                            <div class="checkbox -basic -xs">
                                <input type="checkbox" id="checkbox-xs2" checked>
                                <label for="checkbox-xs2">체크박스</label>
                            </div>
                        

<!-- Check - box - Size=lg, State=default -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="checkbox" id="box-rdio1-5527">
                                        <label for="box-rdio1-5527">옵션1</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - box - Size=lg, State=disabled -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="checkbox" id="box-rdio1-5507" disabled>
                                        <label for="box-rdio1-5507">옵션3</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - box - Size=lg, State=selected -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="checkbox" id="box-rdio1-5517" checked>
                                        <label for="box-rdio1-5517">옵션2</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - box - Size=sm, State=default -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio -fitted">
                                        <input type="checkbox" id="box-rdio1-552">
                                        <label for="box-rdio1-552">옵션1</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - box - Size=sm, State=disabled -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio -fitted">
                                        <input type="checkbox" id="box-rdio1-550" disabled>
                                        <label for="box-rdio1-550">옵션3</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - box - Size=sm, State=selected -->

                            <div class="field check">
                                <p class="label">박스체크</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio -fitted">
                                        <input type="checkbox" id="box-rdio1-551" checked>
                                        <label for="box-rdio1-551">옵션2</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Check - survey - State=default -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="checkbox" name="radio113" id="checkbox1-111">
                                            <label for="checkbox1-111" class="invest-unit -icon1">현재 수입이 일정하지만, 한줄일 때</label>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

<!-- Check - survey - State=error -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="checkbox" class="-error" name="radio113" id="checkbox1-313" checked>
                                            <label for="checkbox1-313" class="invest-unit -icon1">현재 일정한 수입이 없거나, 연금 등이 주
                                                수입원임</label>
                                            <div class="invest-notice">
                                                <div class="inner">
                                                    <span class="message -error">다시 확인해 주세요.</span>
                                                    <div class="message">
                                                        내용을 입력해 주세요.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

<!-- Check - survey - State=selected -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="checkbox" name="radio113" id="checkbox1-212" checked>
                                            <label for="checkbox1-212" class="invest-unit -icon1">현재 수입이 일정하지만, 향후 감소하거나 불안정할
                                                것으로 예상</label>
                                            <div class="invest-notice">
                                                <div class="inner">
                                                    <span class="message point">정답 입니다.</span>
                                                    <div class="message">
                                                        내용을 입력해 주세요.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

</body>
</html>