<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Divider Components</title>
</head>
<body>
<!-- Divider - content-8px -->

                            <hr class="hr content-8">
                        

<!-- Divider - list1-1px -->

                            <hr class="hr list-1">
                        

<!-- Divider - list2-1px -->

                            <hr class="hr list-2">
                        

<!-- Divider - page-1px -->

                            <hr class="hr page-1">
                        

</body>
</html>