<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Empty Components</title>
</head>
<body>
<!-- Empty - page -->

                            <div class="empty result -page">
                                <p class="message">조회 결과가 없습니다.</p>
                            </div>
                        

<!-- Empty - result -->

                            <div class="empty result">
                                <p class="message">조회 결과가 없습니다.</p>
                            </div>
                        

</body>
</html>