<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Label Components</title>
</head>
<body>
<!-- Label - fill - Color=gray -->

                            <span class="badge fill-gray">배지</span>
                        

<!-- Label - fill - Color=green -->

                            <span class="badge fill-green">배지</span>
                        

<!-- Label - fill - Color=red -->

                            <span class="badge fill-red">배지</span>
                        

<!-- Label - fill - Color=skyblue -->

                            <span class="badge fill-skyblue">배지</span>
                        

<!-- Label - fill - Color=yellow -->

                            <span class="badge fill-yellow">배지</span>
                        

<!-- Label - line/color - Color=blue -->

                            <span class="badge line-blue">배지</span>
                        

<!-- Label - line/color - Color=gray -->

                            <span class="badge line-gray">배지</span>
                        

<!-- Label - line/color - Color=green -->

                            <span class="badge line-green">배지</span>
                        

<!-- Label - line/color - Color=lightblue -->

                            <span class="badge line-lightblue">배지</span>
                        

<!-- Label - line/color - Color=navy -->

                            <span class="badge line-cobalt">배지</span>
                        

<!-- Label - line/color - Color=orange -->

                            <span class="badge line-orange">배지</span>
                        

<!-- Label - line/color - Color=red -->

                            <span class="badge line-red">배지</span>
                        

<!-- Label - line/color - Color=skyblue -->

                            <span class="badge line-skyblue">배지</span>
                        

<!-- Label - line/color - Color=yellow -->

                            <span class="badge line-yellow">배지</span>
                        

<!-- Label - line/grade - Grade=grade1 -->

                            <span class="badge -grade1">1등급</span>
                        

<!-- Label - line/grade - Grade=grade2 -->

                            <span class="badge -grade2">2등급</span>
                        

<!-- Label - line/grade - Grade=grade3 -->

                            <span class="badge -grade3">3등급</span>
                        

<!-- Label - line/grade - Grade=grade4 -->

                            <span class="badge -grade4">4등급</span>
                        

<!-- Label - line/grade - Grade=grade5 -->

                            <span class="badge -grade5">5등급</span>
                        

<!-- Label - line/grade - Grade=grade6 -->

                            <span class="badge -grade6">6등급</span>
                        

<!-- Label - text-label -->

                            <label for="" class="label">레이블</label>
                        

</body>
</html>