<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Link Components</title>
</head>
<body>
<!-- Link - category -->

                            <div class="link -category">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="certi-btn">
                                            <div class="certi -fss">
                                                <p class="title">카테고리</p>
                                                <p class="info">타이틀</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        

<!-- Link - divide -->

                            <div class="link -divide">
                                <ul>
                                    <li><a href="javascript:void(0)"><span class="title">타이틀</span><span
                                                class="sub-info">부가설명</span></a></li>
                                    <li><a href="javascript:void(0)"><span class="title">타이틀</span><span
                                                class="sub-info">부가설명</span></a></li>
                                </ul>
                            </div>
                        

<!-- Link - horizontal -->

                            <div class="link -horizontal">
                                <ul>
                                    <li><a href="javascript:void(0)" class="ico-prod">타이틀</a></li>
                                </ul>
                            </div>
                        

<!-- Link - mix -->

                            <div class="link -mix">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="certi-btn">
                                            <div class="certi -folder">
                                                <p class="title">타이틀</p>
                                                <p class="info">부가설명</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        

<!-- Link - none -->

                            <div class="link none-bd">
                                <ul>
                                    <li><a href="javascript:void(0)">타이틀</a></li>
                                </ul>
                            </div>
                        

<!-- Link - price -->

                            <ul class="account-list">
                                <li>
                                    <div class="account-item">
                                        <div class="date">2022.05.30 11:22:24</div>
                                        <div class="type">출금</div>
                                        <div class="info">
                                            <div class="name">나금상</div>
                                            <div class="amount">750,000,000원</div>
                                        </div>
                                        <div class="sub-txt right">잔액 250,000,000원</div>
                                    </div>
                                </li>
                            </ul>
                        

<!-- Link - vertical -->

                            <div class="link -vertical">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="auth-btn">
                                            <div class="auth-icon-num">
                                                타이틀
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        

</body>
</html>