<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Load data Components</title>
</head>
<body>
<!-- Load data - basic -->

                            <div class="field load-data">
                                <label for="data-rd" class="label">레이블</label>
                                <div class="data-box" id="data-rd">
                                    <div class="data-box-title">연도별 한도금액</div>
                                    <div class="data-box-content">20,000,000원</div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Load data - highlight -->

                            <div class="field load-data -highlight">
                                <label for="data-rd" class="label">레이블</label>
                                <div class="data-box" id="data-rd">
                                    <div class="data-box-title">
                                        <span class="data-box-main">Label</span>
                                        <span class="data-box-info">부가설명</span>
                                    </div>
                                    <div class="data-box-content">Data</div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

</body>
</html>