<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Navigation Components</title>
</head>
<body>
<!-- Navigation - bottom/all-one -->

                            <div class="linked-bottom-menu">
                                <a href="javascript:void(0);" class="linked-finance" role="button" title="선택됨">홈</a>
                                <a href="javascript:void(0);" class="linked-mall" role="button">상품몰</a>
                                <a href="javascript:void(0);" class="linked-mydata" role="button">마이데이터</a>
                                <a href="javascript:void(0);" class="linked-life" role="button">생활+</a>
                            </div>
                        

<!-- Navigation - top/basic -->

                            <div class="page">
                                <div class="container">
                                    <div class="navigation">
                                        <header class="header top">
                                            <div class="inner basic">
                                                <div class="funcs">
                                                    <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                                </div>
                                                <h1 class="title">basic</h1>
                                                <div class="funcs">
                                                    <button type="button" class="func -home"><span class="hide">홈</span></button>
                                                    <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                                </div>
                                            </div>
                                        </header>
                                    </div>
                                    <main class="contents"></main>
                                </div>
                            </div>
                        

<!-- Navigation - top/full-popup -->

                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner">
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func -close"><span class="hide">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

<!-- Navigation - top/login -->

                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title -allone-logo">
                                                <img src="./assets/imgs/nds/common/img_nh-allone_24.png" alt="NH올원뱅크 타이틀 로고">
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func -menu"><span class="hide">전체메뉴</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        

<!-- Navigation - top/main -->

                            <div class="navigation">
                                <header class="header top">
                                    <div class="main-header">
                                        <div class="funcs">
                                            <p class="user-name"><a href="javascript:void(0)" class="a -arrow"><strong class="ellipsis">김농협</strong>님</a></p>
                                        </div>
                                        <div class="funcs">
                                            <button type="button" class="func -bigsize">
                                                <span class="hide">큰글</span>
                                            </button>
                                            <!--
                                                알림 활성화시 클래스 -active 추가
                                                <button type="button" class="func -alarm -active"> ... </button>
                                            -->
                                            <button type="button" class="func -alarm -active">
                                                <!-- 알림 활성화시 텍스트 변경 -->
                                                <span class="hide">새로운 알람이 있습니다.</span>
                                                <!-- <span class="hide">알람</span> -->
                                            </button>
                                            <button type="button" class="func -menu">
                                                <span class="hide">전체메뉴</span>
                                            </button>
                                        </div>
                                    </div>
                                </header>
                            </div>
                        

<!-- Navigation - top/mydata -->

                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title -allone-logo">
                                                <img src="./assets/imgs/nds/common/img_nh-mydata_24.png" alt="NH마이데이터터 타이틀 로고">
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func -home"><span class="hide">홈</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        

<!-- Navigation - top/partnership -->

                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">서비스 타이틀</h1>
                                            <div class="funcs">
                                                <button type="button" class="func"><span class="">닫기</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        

<!-- Navigation - top/process -->

                            <div class="page">
                                <div class="navigation">
                                    <header class="header top">
                                        <div class="inner process">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">process</h1>
                                            <div class="funcs">
                                                <button type="button" class="func">취소</button>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <main class="contents"></main>
                            </div>
                        

<!-- Navigation - top/tooltip -->

                            <div class="popup -active">
                                <div class="navigation">
                                    <div class="header">
                                        <div class="inner -fullpop">
                                            <div class="funcs">
                                                <button type="button" class="func -back"><span class="hide">뒤로가기</span></button>
                                            </div>
                                            <h1 class="title">full-popup-Tooltip
                                                <span class="tooltip">
                                                    <button type="button" class="trigger">
                                                        <span class="hide">툴팁</span>
                                                    </button>
                                                    <span class="panel">
                                                        <span class="title">보험계약 상세조회</span>
                                                        <span class="t-content">
                                                            장기보험, 일반보험(국내·해외여행 보험 및 적하보
                                                            험, 주택화재보험, 레저상해보험 등 일부 상품), 농작
                                                            물 재해보험이 가능합니다.<br>
                                                            <span class="dot">우대금리는 대출 만기까지 적용됩니다.</span>
                                                            <span class="dot">우대금리는 대출 만기까지 적용됩니다.</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </h1>
                                            <div class="funcs">
                                                <button type="button" class="func -close"><span class="hide">취소</span></button>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        

</body>
</html>