<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Popover Components</title>
</head>
<body>
<!-- Popover - popover - Type=bottom-center -->

                            <span class="popover -bc" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

<!-- Popover - popover - Type=bottom-left -->

                            <span class="popover -bl" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

<!-- Popover - popover - Type=bottom-right -->

                            <span class="popover -br" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

<!-- Popover - popover - Type=top-center -->

                            <span class="popover -tc" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

<!-- Popover - popover - Type=top-left -->

                            <span class="popover -tl" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

<!-- Popover - popover - Type=top-right -->

                            <span class="popover -tr" style="opacity: 1;">나에게 맞는 상품을 찾아보세요.
                                <button type="button" class="popover-close"><span class="hide">삭제</span></button>
                            </span>
                            <!-- 사용시 style="opacity: 1;" 삭제 -->
                        

</body>
</html>