<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Process Components</title>
</head>
<body>
<!-- Process - progress -->

                            <div class="progress-box">
                                <div class="progress">
                                    <div class="bar" style="--current:3; --max:12;">
                                        <div class="gauge">
                                            <!-- 접근성 관련 텍스트 동적 변경 필요 -->
                                            <span class="hide"> 12단계 중 3번째</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

<!-- Process - step/horizontal - Step=3step -->

                            <div class="process">
                                <ol class="ol -step horizontal">
                                    <li class="done">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li class="active">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/horizontal - Step=4step -->

                            <div class="process">
                                <ol class="ol -step horizontal">
                                    <li class="done">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li class="active">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/horizontal - Step=5step -->

                            <div class="process">
                                <ol class="ol -step horizontal">
                                    <li class="done">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li class="active">
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                    <li>
                                        <div class="title">스탭명</div>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/horizontal - Type=3step -->

                            <div class="process">
                                <ol class="ol -icon horizontal">
                                    <li class="step1 done">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                    <li class="step2 active">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/horizontal - Type=4step -->

                            <div class="process">
                                <ol class="ol -icon horizontal">
                                    <li class="step1 done">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                    <li class="step2 active">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                    <li class="step2 active">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">스탭명</div>
                                        <span class="sub-info">부가설명</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=2step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=3step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=4step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step4">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=5step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step4">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step5">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=6step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step4">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step5">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/icon/vertical - Step=7step -->

                            <div class="process">
                                <ol class="ol -icon vertical">
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step1">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step2">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step3">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step4">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step5">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="step6">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=2step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=3step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">3단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=4step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">3단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">4단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=5step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">3단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">4단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">5단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=6step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">3단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">4단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">5단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">6단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/lg - Step=7step -->

                            <div class="process">
                                <ol class="ol -badge text">
                                    <li>
                                        <span class="gadget">1단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">2단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">3단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">4단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">5단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">6단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <span class="gadget">7단계</span>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=1setp -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=2step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=3step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=4step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=5step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=6step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/text/sm - Step=7step -->

                            <div class="process">
                                <ol class="ol -circle -sm">
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        내용을 입력해 주세요.
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=2step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=3step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=4step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=5step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=6step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

<!-- Process - step/vertical - Step=7step -->

                            <div class="process">
                                <ol class="ol -step vertical">
                                    <li class="done">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li class="active">
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                    <li>
                                        <div class="title">타이틀</div>
                                        <span>내용을 입력해 주세요.</span>
                                    </li>
                                </ol>
                            </div>
                        

</body>
</html>