<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Radio Components</title>
</head>
<body>
<!-- Radio - basic - Size=lg, State=default -->

                            <div class="radio -basic -lg">
                                <input type="radio" id="radio-lg">
                                <label for="radio-lg">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=lg, State=disabled -->

                            <div class="radio -basic -lg">
                                <input type="radio" id="radio-lg2" disabled>
                                <label for="radio-lg2">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=lg, State=select-disabled -->

                            <div class="radio -basic -lg -seldis">
                                <input type="radio" id="radio-lg3" disabled>
                                <label for="radio-lg3">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=lg, State=selected -->

                            <div class="radio -basic -lg">
                                <input type="radio" id="radio-lg1" checked>
                                <label for="radio-lg1">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=sm, State=default -->

                            <div class="radio -basic -sm">
                                <input type="radio" id="radio-sm1">
                                <label for="radio-sm1">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=sm, State=disabled -->

                            <div class="radio -basic -sm">
                                <input type="radio" id="radio-sm3" disabled>
                                <label for="radio-sm3">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=sm, State=select-disabled -->

                            <div class="radio -basic -sm -seldis">
                                <input type="radio" id="radio-sm4" disabled>
                                <label for="radio-sm4">라디오</label>
                            </div>
                        

<!-- Radio - basic - Size=sm, State=selected -->

                            <div class="radio -basic -sm">
                                <input type="radio" id="radio-sm" checked>
                                <label for="radio-sm2">라디오</label>
                            </div>
                        

<!-- Radio - box/center - Size=lg, State=default -->

                            <div class="field">
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="radio" name="period123445" id="box-radio1-1110">
                                        <label for="box-radio1-1110">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/center - Size=lg, State=disabled -->

                            <div class="field">
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="radio" name="period123445" id="box-radio1-3110" disabled>
                                        <label for="box-radio1-3110">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/center - Size=lg, State=selected -->

                            <div class="field">
                                <div class="box-radios -box -lg">
                                    <div class="box-radio">
                                        <input type="radio" name="period123445" id="box-radio1-2110" checked>
                                        <label for="box-radio1-2110">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/center - Size=sm, State=default -->

                            <div class="field">
                                <p class="label">라디오박스</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio">
                                        <input type="radio" name="period1234458" id="box-radio1-11108">
                                        <label for="box-radio1-11108">default</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/center - Size=sm, State=disabled -->

                            <div class="field">
                                <p class="label">라디오박스</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio">
                                        <input type="radio" name="period1234458" id="box-radio1-31108" disabled>
                                        <label for="box-radio1-31108">disabled</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/center - Size=sm, State=selected -->

                            <div class="field">
                                <p class="label">라디오박스</p>
                                <div class="box-radios -box -sm">
                                    <div class="box-radio">
                                        <input type="radio" name="period1234458" id="box-radio1-21108" checked>
                                        <label for="box-radio1-21108">checked</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/left - State=default -->

                            <div class="field">
                                <div class="box-radios">
                                    <div class="box-radio -left">
                                        <input type="radio" name="radio4-19" id="radio4-19">
                                        <label for="radio4-19">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/left - State=disabled -->

                            <div class="field">
                                <div class="box-radios">
                                    <div class="box-radio -left">
                                        <input type="radio" name="radio4-19" id="radio4-19" disabled>
                                        <label for="radio4-19">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - box/left - State=selected -->

                            <div class="field">
                                <div class="box-radios">
                                    <div class="box-radio -left">
                                        <input type="radio" name="radio4-19" id="radio4-18" checked>
                                        <label for="radio4-18">라디오</label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - explain/icon - State=default -->

                            <div class="field">
                                <div class="box-radios -explain -icon">
                                    <div class="box-radio -left">
                                        <input type="radio" name="period-point-color111" id="period-point-color22-111">
                                        <label for="period-point-color22-111">라디오 타이틀<span class="sub">서브텍스트</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - explain/icon - State=selected -->

                            <div class="field">
                                <div class="box-radios -explain -icon">
                                    <div class="box-radio -left">
                                        <input type="radio" name="period-point-color111" id="period-point-color22-2111" checked>
                                        <label for="period-point-color22-2111">라디오 타이틀<span class="sub">서브텍스트</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - explain/none - State=default -->

                            <div class="field">
                                <div class="box-radios -explain -lg">
                                    <div class="box-radio -left">
                                        <input type="radio" name="period-point-color11" id="period-point-color22-11">
                                        <label for="period-point-color22-11">라디오 타이틀<span class="sub">서브텍스트</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - explain/none - State=selected -->

                            <div class="field">
                                <div class="box-radios -explain -lg">
                                    <div class="box-radio -left">
                                        <input type="radio" name="period-point-color11" id="period-point-color22-211" checked>
                                        <label for="period-point-color22-211">라디오 타이틀<span class="sub">서브텍스트</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/icon - State=default -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="radio" name="radio11" id="radio1-11">
                                            <label for="radio1-11" class="invest-unit -icon1">현재 수입이 일정하지만, 한줄일 때</label>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

<!-- Radio - survey/icon - State=error -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="radio" name="radio11" id="radio1-21" checked>
                                            <label for="radio1-21" class="invest-unit -icon1">현재 수입이 일정하지만, 향후 감소하거나 불안정할 것으로 예상</label>
                                            <div class="invest-notice">
                                                <div class="inner">
                                                    <span class="message point">정답 입니다.</span>
                                                    <div class="message">
                                                        내용을 입력해 주세요.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

<!-- Radio - survey/icon - State=selected -->

                            <div class="field">
                                <dl class="invest-qna survey">
                                    <dd class="answer-list">
                                        <div class="item">
                                            <input type="radio" class="-error" name="radio11" id="radio1-31">
                                            <label for="radio1-31" class="invest-unit -icon1">현재 일정한 수입이 없거나, 연금 등이 주
                                                수입원임</label>
                                            <div class="invest-notice">
                                                <div class="inner">
                                                    <span class="message -error">다시 확인해 주세요.</span>
                                                    <div class="message">
                                                        내용을 입력해 주세요.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        

<!-- Radio - survey/ox - Type=o, State=default -->

                            <div class="field">
                                <div class="box-radios -survey -ox">
                                    <div class="box-radio">
                                        <input type="radio" name="radio4-1" id="radio4-1">
                                        <label for="radio4-1" class="check-positive"><span class="hide">O</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/ox - Type=o, State=error -->

                            <div class="field">
                            <div class="box-radios -survey -ox -error">
                                <div class="box-radio">
                                    <input type="radio" name="radio4-012" id="radio4-022"  class="-error" checked>
                                    <label for="radio4-22" class="check-positive"><span class="hide">O</span></label>
                                </div>
                            </div>
                        </div>
                        

<!-- Radio - survey/ox - Type=o, State=seleted -->

                            <div class="field">
                                <div class="box-radios -survey -ox">
                                    <div class="box-radio">
                                        <input type="radio" name="radio4-011" id="radio4-011" checked>
                                        <label for="radio4-11" class="check-positive"><span class="hide">O</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/ox - Type=x, State=default -->

                            <div class="field">
                                <div class="box-radios -survey -ox">
                                    <div class="box-radio">
                                        <input type="radio" name="radio4-1" id="radio4-2">
                                        <label for="radio4-2" class="check-negative"><span class="hide">X</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/ox - Type=x, State=error -->

                            <div class="field">
                                <div class="box-radios -survey -ox  -error">
                                    <div class="box-radio">
                                        <input type="radio" name="radio4-11" id="radio4-21" class="-error" checked>
                                        <label for="radio4-21" class="check-negative"><span class="hide">X</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/ox - Type=x, State=seleted -->

                            <div class="field">
                                <div class="box-radios -survey -ox">
                                    <div class="box-radio">
                                        <input type="radio" name="radio4-12" id="radio4-22" checked>
                                        <label for="radio4-22" class="check-negative"><span class="hide">X</span></label>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/text - State=default -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio014" id="radio014-1">
                                        <label for="radio014-1">라디오 텍스트</label>
                                    </div>
                                </div> 
                            </div>
                        

<!-- Radio - survey/text - State=error -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -error">
                                        <input type="radio" name="radio01141" id="radio014-111" checked="">
                                        <label for="radio014-111">아니오</label>
                                    </div>
                                </div> 
            
                                <!-- [CASE] 오답 안내 문구 출력 -->
                                <div class="invest-notice">
                                    <div class="inner">
                                        <span class="message -error">다시 확인해 주세요.</span>
                                        <div class="message">
                                            내용을 입력해 주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/text - State=selected -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio0114_02" id="radio014-21" checked>
                                        <label for="radio014-21">예</label>
                                    </div>
                                </div> 
            
                                <!-- [CASE] 오답 안내 문구 출력 -->
                                <div class="invest-notice">
                                    <div class="inner">
                                        <span class="message -correct">정답 입니다.</span>
                                        <div class="message">
                                            내용을 입력해 주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/yn - State=default -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio14" id="radio14-1">
                                        <label for="radio14-1">아니오</label>
                                    </div>
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio14" id="radio14-2">
                                        <label for="radio14-2">예</label>
                                    </div>
                                </div> 
                            </div>
                        

<!-- Radio - survey/yn - State=error -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -error">
                                        <input type="radio" name="radio1141" id="radio14-111" checked="">
                                        <label for="radio14-111">아니오</label>
                                    </div>
                                    <div class="box-radio -yn">
                                        <input type="radio" name="radio1141" id="radio14-211">
                                        <label for="radio14-211">예</label>
                                    </div>
                                </div> 
            
                                <!-- [CASE] 오답 안내 문구 출력 -->
                                <div class="invest-notice">
                                    <div class="inner">
                                        <span class="message -error">다시 확인해 주세요.</span>
                                        <div class="message">
                                            내용을 입력해 주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

<!-- Radio - survey/yn - State=seected -->

                            <div class="field">
                                <div class="box-radios survey">
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio114" id="radio14-11">
                                        <label for="radio14-11">아니오</label>
                                    </div>
                                    <div class="box-radio -yn -left">
                                        <input type="radio" name="radio114" id="radio14-21" checked>
                                        <label for="radio14-21">예</label>
                                    </div>
                                </div> 
            
                                <!-- [CASE] 오답 안내 문구 출력 -->
                                <div class="invest-notice">
                                    <div class="inner">
                                        <span class="message -correct">정답 입니다.</span>
                                        <div class="message">
                                            내용을 입력해 주세요.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

</body>
</html>