<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Search Components</title>
</head>
<body>
<!-- Search - search - State=error -->

                            <div class="field search">
                                <label for="searchce3" class="label">검색</label>
                                <div class="mix -error">
                                    <div class="text">
                                        <input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
                                    </div>

                                    <div class="space -lined search">
                                        <button type="button" class="icon-button -search right-side"><span
                                                class="hide">조회</span></button>
                                    </div>
                                </div>
                                <p class="info -error">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search - State=filled -->

                            <div class="field search">
                                <label for="searchce3" class="label">검색</label>
                                <div class="mix -filled">
                                    <div class="text">
                                        <input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
                                    </div>

                                    <div class="space -lined search">
                                        <button type="button" class="icon-button -search right-side"><span
                                                class="hide">조회</span></button>
                                    </div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search - State=focus -->

                            <div class="field search -focused">
                                <label for="searchce3" class="label">검색</label>
                                <div class="mix -filled">
                                    <div class="text">
                                        <input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="검색어 입력">
                                    </div>

                                    <div class="space -lined search">
                                        <button type="button" class="icon-button -search right-side"><span
                                                class="hide">조회</span></button>
                                    </div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search - State=inactive -->

                            <div class="field search">
                                <label for="searchce3" class="label">검색</label>
                                <div class="mix -filled">
                                    <div class="text">
                                        <input type="text" class="left-side" id="searchce3" placeholder="검색어 입력" value="">
                                    </div>

                                    <div class="space -lined search">
                                        <button type="button" class="icon-button -search right-side"><span
                                                class="hide">조회</span></button>
                                    </div>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search-filter - State=filled -->

                            <div class="field search-filter">
                                <label for="searchce3" class="label">검색</label>
                                <div class="search-wrap">
                                    <div class="mix">
                                        <div class="text">
                                            <input type="text" class="left-side" id="searchce" placeholder="검색어 입력"
                                                value="검색어 입력">
                                        </div>
                                        <div class="space -lined search">
                                            <button type="button" class="icon-button -search right-side"><span
                                                    class="hide">조회</span></button>
                                        </div>
                                    </div>
                                    <button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정
                                            하기</span></button>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search-filter - State=focus -->

                            <div class="field search-filter">
                                <label for="searchce3" class="label">검색</label>
                                <div class="search-wrap">
                                    <div class="mix -focused">
                                        <div class="text">
                                            <input type="text" class="left-side" id="searchce" placeholder="검색어 입력"
                                                value="검색어 입력">
                                        </div>
                                        <div class="space -lined search">
                                            <button type="button" class="icon-button -search right-side"><span
                                                    class="hide">조회</span></button>
                                        </div>
                                    </div>
                                    <button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정
                                            하기</span></button>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

<!-- Search - search-filter - State=inactive -->

                            <div class="field search-filter">
                                <label for="searchce3" class="label">검색</label>
                                <div class="search-wrap">
                                    <div class="mix">
                                        <div class="text">
                                            <input type="text" class="left-side" id="searchce" placeholder="검색어 입력">
                                        </div>
                                        <div class="space -lined search">
                                            <button type="button" class="icon-button -search right-side"><span
                                                    class="hide">조회</span></button>
                                        </div>
                                    </div>
                                    <button type="button" class="search-filter-ico" aria-haspopup="true"><span class="hide">조건설정
                                            하기</span></button>
                                </div>
                                <p class="info">안내 문구 입력</p>
                            </div>
                        

</body>
</html>