<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Select Components</title>
</head>
<body>
<!-- Select - 2row - State=disabled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two -filled -disabled">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택된 옵션입니다</div>
                                    </button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - 2row - State=error -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two -filled -error">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택된 옵션입니다</div>
                                    </button>
                                    <p class="info -error">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - 2row - State=filled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two -filled">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택된 옵션입니다</div>
                                    </button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - 2row - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택</div>
                                    </button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - 2row - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택</div>
                                    </button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - 2row - State=readonly -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select row-two -filled -readonly">
                                    <button type="button" aria-haspopup="true" class="fc-empty selct-wrap">
                                        <div class="sub-disc">부가설명</div>
                                        <div class="selct-opt">선택된 옵션입니다</div>
                                    </button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=disabled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -disabled">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=error -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -error">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info red">오류 메세지 출력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=filled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -account -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -account">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - account - State=readonly -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -readonly">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=disabled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -disabled">
                                    <div class="account card -comb">
                                        <div class="dot-menu">
                                            <button type="button" class="button">
                                                <span class="hide">더보기</span>
                                            </button>
                                        </div>
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>금융사명</span>
                                                </span>
                                                <span class="account-number">
                                                    <span class="select-btn">계좌번호</span>
                                                </span>
                                            </button>
                                            <div class="amount mix-charge">
                                                <div>
                                                    <button type="button" class="button -tertiary -xs">잔액채우기</button>
                                                </div>
                                                <div>
                                                    <div class="key">금액</div>
                                                    <div class="value">
                                                        <span>
                                                            <button type="button" class="refresh"><span class="hide">새로고침</span></button>
                                                            50,000,000
                                                        </span>원
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=error -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -error">
                                    <div class="account card -comb">
                                        <div class="dot-menu">
                                            <button type="button" class="button">
                                                <span class="hide">더보기</span>
                                            </button>
                                        </div>
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>금융사명</span>
                                                </span>
                                                <span class="account-number">
                                                    <span class="select-btn">계좌번호</span>
                                                </span>
                                            </button>
                                            <div class="amount mix-charge">
                                                <div>
                                                    <button type="button" class="button -tertiary -xs">잔액채우기</button>
                                                </div>
                                                <div>
                                                    <div class="key">금액</div>
                                                    <div class="value">
                                                        <span>
                                                            <button type="button" class="refresh"><span class="hide">새로고침</span></button>
                                                            50,000,000
                                                        </span>원
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info -error">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=filled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled">
                                    <div class="account card -comb">
                                        <div class="dot-menu">
                                            <button type="button" class="button">
                                                <span class="hide">더보기</span>
                                            </button>
                                        </div>
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>금융사명</span>
                                                </span>
                                                <span class="account-number">
                                                    <span class="select-btn">계좌번호</span>
                                                </span>
                                            </button>
                                            <div class="amount mix-charge">
                                                <div>
                                                    <button type="button" class="button -tertiary -xs">잔액채우기</button>
                                                </div>
                                                <div>
                                                    <div class="key">금액</div>
                                                    <div class="value">
                                                        <span>
                                                            <button type="button" class="refresh"><span class="hide">새로고침</span></button>
                                                            50,000,000
                                                        </span>원
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌 선택</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌 선택</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - admin - State=readonly -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -readonly">
                                    <div class="account card -comb">
                                        <div class="dot-menu">
                                            <button type="button" class="button">
                                                <span class="hide">더보기</span>
                                            </button>
                                        </div>
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>금융사명</span>
                                                </span>
                                                <span class="account-number">
                                                    <span class="select-btn">계좌번호</span>
                                                </span>
                                            </button>
                                            <div class="amount mix-charge">
                                                <div>
                                                    <button type="button" class="button -tertiary -xs">잔액채우기</button>
                                                </div>
                                                <div>
                                                    <div class="key">금액</div>
                                                    <div class="value">
                                                        <span>
                                                            <button type="button" class="refresh"><span class="hide">새로고침</span></button>
                                                            50,000,000
                                                        </span>원
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=disabled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -disabled">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=error -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -error">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info red">오류 메세지 출력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=filled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -account -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -account">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - bank - State=readonly -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -account -filled -readonly">
                                    <button type="button" aria-haspopup="true">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=disabled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic -disabled">
                                    <button type="button" aria-haspopup="true" title="레이블명">선택된 옵션입니다</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=error -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic -error">
                                    <button type="button" aria-haspopup="true" title="레이블명">선택된 옵션입니다</button>
                                    <p class="info">오류 메세지 출력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=filled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic -filled">
                                    <button type="button" aria-haspopup="true" title="레이블명">선택된 옵션입니다</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">선택</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic">
                                    <button type="button" aria-haspopup="true" class="fc-empty">선택</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - basic - State=readonly -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -basic -readonly">
                                    <button type="button" aria-haspopup="true" title="레이블명">선택된 옵션입니다</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - currency - State=disabled -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency">
                                        <button type="button" aria-haspopup="true" title="통화 선택" disabled><span
                                                data-countrycode="001" class="-sm"></span>USD</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - currency - State=error -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency -error">
                                        <button type="button" aria-haspopup="true" title="통화 선택"><span data-countrycode="001"
                                                class="-sm"></span>USD</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - currency - State=filled -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency -filled">
                                        <button type="button" aria-haspopup="true" title="통화 선택"><span data-countrycode="001"
                                                class="-sm"></span>USD</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - currency - State=focus -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency -focus">
                                        <button type="button" aria-haspopup="true" title="통화 선택" class="select-phl">선택</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - currency - State=inactive -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency">
                                        <button type="button" aria-haspopup="true" title="통화 선택" class="select-phl">선택</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - currency - State=readonly -->

                            <div class="field">
                                <label for="asd" class="label">레이블</label>
                                <div class="mix">
                                    <div class="select -currency">
                                        <button type="button" aria-haspopup="true" title="통화 선택" readonly><span
                                                data-countrycode="001" class="-sm"></span>USD</button>
                                        <p class="info">안내 문구 입력</p>
                                    </div>
                                </div>
                            </div>
                        

<!-- Select - icon - State=disabled -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels">
                                    <button type="button" aria-haspopup="true" class="title" disabled>선택된 옵션입니다<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - icon - State=error -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels -error">
                                    <button type="button" aria-haspopup="true" class="title">선택된 옵션입니다<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - icon - State=filled -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels -filled">
                                    <button type="button" aria-haspopup="true" class="title">선택된 옵션입니다<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - icon - State=focus -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels -focused">
                                    <button type="button" aria-haspopup="true" class="title fc-empty">선택<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - icon - State=inactive -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels">
                                    <button type="button" aria-haspopup="true" class="title fc-empty">선택<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - icon - State=readonly -->

                            <div class="field type-wrap">
                                <label for="asd" class="label">레이블</label>
                                <div class="select -levels">
                                    <button type="button" aria-haspopup="true" class="title" readonly>선택된 옵션입니다<span class="grade1-icon"></span></button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=disabled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -filled">
                                    <button type="button" aria-haspopup="true" class="-fixed" disabled>
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                            <dl class="dl">
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=error -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -filled -error">
                                    <button type="button" aria-haspopup="true" class="-fixed">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                            <dl class="dl">
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </button>
                                </div>
                                <div class="text -error">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=filled -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -filled">
                                    <button type="button" aria-haspopup="true" class="-fixed">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                            <dl class="dl">
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - list - State=readonly -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -list -filled -readonly">
                                    <button type="button" aria-haspopup="true" class="-fixed">
                                        <div class="selection">
                                            <div data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </div>
                                            <dl class="dl">
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                                <div>
                                                    <dt>제목</dt>
                                                    <dd>내용</dd>
                                                </div>
                                            </dl>
                                        </div>
                                    </button>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=disabled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -disabled">
                                    <div class="button-type -fixed">
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </button>
                                            <div class="amount">
                                                <div class="key">출금가능금액</div>
                                                <div class="value">
                                                    <span>
                                                        <button type="button" class="refresh"><span
                                                                class="hide">새로고침</span></button>
                                                        150,000,000</span>원
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=error -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -error">
                                    <div class="button-type -fixed">
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </button>
                                            <div class="amount">
                                                <div class="key">출금가능금액</div>
                                                <div class="value">
                                                    <span>
                                                        <button type="button" class="refresh"><span
                                                                class="hide">새로고침</span></button>
                                                        150,000,000</span>원
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text -error">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=filled -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled">
                                    <div class="button-type -fixed">
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </button>
                                            <div class="amount">
                                                <div class="key">출금가능금액</div>
                                                <div class="value">
                                                    <span>
                                                        <button type="button" class="refresh"><span
                                                                class="hide">새로고침</span></button>
                                                        150,000,000</span>원
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=focus -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -price -focused">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=inactive -->

                            <div class="field">
                                <p class="label">레이블</p>
                                <div class="select -price">
                                    <button type="button" aria-haspopup="true" class="fc-empty">출금계좌를 선택해 주세요</button>
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

<!-- Select - price - State=readonly -->

                            <div class="field">
                                <p class="label">출금계좌번호</p>
                                <div class="select -price -filled -readonly">
                                    <div class="button-type -fixed">
                                        <div class="selection">
                                            <button type="button" aria-haspopup="true" data-bankcode="011" class="info">
                                                <span class="name">
                                                    <span>주거래우대통장</span>
                                                </span>
                                                <span class="account-number">
                                                    <span>NH농협</span>
                                                    <span>111-1234-5678-99</span>
                                                </span>
                                            </button>
                                            <div class="amount">
                                                <div class="key">출금가능금액</div>
                                                <div class="value">
                                                    <span>
                                                        <button type="button" class="refresh"><span
                                                                class="hide">새로고침</span></button>
                                                        150,000,000</span>원
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="info">안내 문구 입력</p>
                                </div>
                            </div>
                        

</body>
</html>