<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Statusbar Components</title>
</head>
<body>
<!-- Statusbar - statusbar/aos - Mode=dark -->

                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/9770_76798.png" alt=""></div>
                        

<!-- Statusbar - statusbar/aos - Mode=light -->

                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/293_4899.png" alt=""></div>
                        

<!-- Statusbar - statusbar/ios - Mode=dark -->

                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/9770_76817.png" alt=""></div>
                        

<!-- Statusbar - statusbar/ios - Mode=light -->

                            <p class="point center">App 영역</p>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/416_11121.png" alt=""></div>
                        

</body>
</html>