<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Switch Components</title>
</head>
<body>
<!-- Switch - basic - Size=lg, State=false -->

                            <span class="switch -lg">
                                <input type="checkbox" id="switch-tl0">
                                <label for="switch-tl0"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - basic - Size=lg, State=true -->

                            <span class="switch -lg">
                                <input type="checkbox" id="switch-tl0_on" checked>
                                <label for="switch-tl0_on"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - basic - Size=sm, State=false -->

                            <span class="switch -sm">
                                <input type="checkbox" id="switch-tl01">
                                <label for="switch-tl01"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - basic - Size=sm, State=true -->

                            <span class="switch -sm">
                                <input type="checkbox" id="switch-tl01_on" checked>
                                <label for="switch-tl01_on"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - basic - Size=xs, State=false -->

                            <span class="switch -xs">
                                <input type="checkbox" id="switch-tl02">
                                <label for="switch-tl02"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - basic - Size=xs, State=true -->

                            <span class="switch -xs">
                                <input type="checkbox" id="switch-tl02_on" checked>
                                <label for="switch-tl02_on"><span class="hide">스위치</span></label>
                            </span>
                        

<!-- Switch - big-font - State=false -->

                            <button type="button" class="func -bigsize">
                                <span class="hide">큰글</span>
                            </button>
                        

<!-- Switch - big-font - State=true -->

                            <button type="button" class="func -bigsize -active">
                                <span class="hide">큰글</span>
                            </button>
                        

</body>
</html>