<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Table Components</title>
</head>
<body>
<!-- Table - table - Type=td, Align=center -->

                            <div class="point center">디자인 확인 필요</div>
                        

<!-- Table - table - Type=td, Align=left -->

                            <div class="point center">디자인 확인 필요</div>
                        

<!-- Table - table - Type=td, Align=right -->

                            <div class="point center">디자인 확인 필요</div>
                        

<!-- Table - table - Type=th, Align=center -->

                            <div class="point center">디자인 확인 필요</div>
                        

<!-- Table - table - Type=th, Align=left -->

                            <div class="point center">디자인 확인 필요</div>
                        

<!-- Table - table - Type=th, Align=right -->

                            <div class="point center">디자인 확인 필요</div>
                        

</body>
</html>