<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Terms Components</title>
</head>
<body>
<!-- Terms - terms - State=close -->

                            <div class="agree">
                                <div class="title">
                                    <div class="checkbox -sm">
                                        <input type="checkbox" id="total">
                                        <label for="total">[필수] 전체동의</label>
                                    </div>
                                    <button type="button" class="more"><span class="hide">약관명</span></button>
                                </div>
                            </div>
                        

<!-- Terms - terms - State=open -->

                            <div class="agree -detail">
                                <div class="title">
                                    <div class="checkbox -sm">
                                        <input type="checkbox" id="optional-total">
                                        <label for="optional-total">[선택] 전체 동의</label>
                                    </div>
                                    <button type="button" class="more"><span class="hide">선택 전체 동의 약관</span></button>
                                </div>
                                <div class="panel">
                                    <div class="checkboxes -full">
                                        <div class="checkbox -sub">
                                            <input type="checkbox" id="optional1">
                                            <label for="optional1">약관명을 입력해 주세요</label>
                                            <button type="button" class="more"><span class="hide">약관</span></button>
                                        </div>
                                        <div class="checkbox -sub">
                                            <input type="checkbox" id="optional2">
                                            <label for="optional2">약관명을 입력해 주세요</label>
                                            <button type="button" class="more"><span class="hide">약관</span></button>
                                        </div>
                                        <div class="checkbox -sub">
                                            <input type="checkbox" id="optional3">
                                            <label for="optional3">약관명을 입력해 주세요</label>
                                            <button type="button" class="more"><span class="hide">약관</span></button>
                                        </div>
                                        <div class="checkbox -sub">
                                            <input type="checkbox" id="optional4">
                                            <label for="optional4">약관명을 입력해 주세요</label>
                                            <button type="button" class="more"><span class="hide">약관</span></button>
                                        </div>
                                        <div class="checkbox -sub">
                                            <input type="checkbox" id="optional5">
                                            <label for="optional5">약관명을 입력해 주세요</label>
                                            <button type="button" class="more"><span class="hide">약관</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

</body>
</html>