<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Text area Components</title>
</head>
<body>
<!-- Text area - textarea - State=error -->

                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea -error">
                                    <textarea id="textarea" placeholder="내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                </div>
                                <p class="info -error">오류 메시지 출력</p>
                            </div>
                        

<!-- Text area - textarea - State=filled -->

                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea -filled">
                                    <textarea id="textarea" placeholder="내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                    <div class="text-count">
                                        <span class="count point">11</span>
                                        <span class="total">50</span>
                                    </div>
                                </div>
                            </div>
                        

<!-- Text area - textarea - State=focus -->

                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea -focused">
                                    <textarea id="textarea" placeholder="내용을 입력하세요">입력된 텍스트 입니다</textarea>
                                    <div class="text-count">
                                        <span class="count point">11</span>
                                        <span class="total">50</span>
                                    </div>
                                </div>
                            </div>
                        

<!-- Text area - textarea - State=inactive -->

                            <div class="field textfield">
                                <label for="textarea" class="label">레이블</label>
                                <div class="textarea">
                                    <textarea id="textarea" placeholder="내용을 입력하세요"></textarea>
                                    <div class="text-count">
                                        <span class="count point">0</span>
                                        <span class="total">50</span>
                                    </div>
                                </div>
                            </div>
                        

</body>
</html>