<!DOCTYPE html>
<html lang='ko'>
<head>
<meta charset='UTF-8'>
<link rel="stylesheet" href="../assets/css/common-ui.css">
<title>Toast Components</title>
</head>
<body>
<!-- Toast - toast -->

                            <button type="button"  class="a underline point" onClick="tostAtive(this)">테스트모드에서 클릭</button>
                            <!-- 토스트팝업은 -active 클래스 사용하여 실행합니다 -->
                            <div class="toast" role="alert" aria-live="assertive">
                                <div class="message" >
                                    <p>설정이 변경되었습니다.</p>
                                </div>
                            </div>
                            <div class="nds__thumbnail"><img src="./prototype/NDS/images/1176_30977.png" alt=""></div>
                        

</body>
</html>